# Literacy Rate

### Read and Clean data

In [201]:
import pandas as pd

literacy_rate = pd.read_excel('literacy_rate.xlsx',index_col=0)

In [202]:
literacy_rate

,Alpha-3 code,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,37.3,..
Albania,ALB,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,98.1,..,..,98.4,..
Algeria,DZA,..,..,..,..,..,..,..,49.6,..,...,..,..,..,..,..,81.4,..,..,..,..
American Samoa,ASM,97.3,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Andorra,AND,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,VEN,..,84.7,..,..,..,..,..,..,..,...,..,..,96.6,97.1,..,..,..,..,97.5,..
Vietnam,VNM,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,95.8,..,..,..
"Yemen, Rep.",YEM,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Zambia,ZMB,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,86.7,..,87.5,..,..
Zimbabwe,ZWE,..,..,77.8,..,..,..,..,..,..,...,..,88.7,..,..,..,..,..,..,89.7,..

In [203]:
iso_code = literacy_rate["Alpha-3 code"]
iso_code
del literacy_rate["Alpha-3 code"] #Drop Iso Code

### Fill NaN values with mean

In [205]:
import numpy as np
for columns in literacy_rate.columns:
    literacy_rate[columns].replace('..',np.nan, inplace=True)

In [206]:
literacy_rate = literacy_rate.T
literacy_rate

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
1980,NaN,NaN,NaN,97.3,NaN,NaN,NaN,93.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,84.7,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.8
1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58.2,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,95.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,49.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,87.6,NaN,NaN,NaN
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,89.8,NaN,NaN,65.0,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.5
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,68.7,NaN,NaN,37.1,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,96.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.0,NaN,90.3,NaN,68.0,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.3,...,NaN,NaN,NaN,98.6,NaN,NaN,90.2,NaN,NaN,NaN
2001,NaN,98.7,NaN,NaN,NaN,67.4,98.9,97.2,99.4,NaN,...,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,NaN,NaN
2002,NaN,NaN,69.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.4,NaN,NaN,54.1,NaN,NaN
2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,NaN,72.6,NaN,NaN,NaN,NaN,98.6,NaN,NaN,...,NaN,NaN,97.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,97.9,NaN,NaN,95.2,NaN,NaN,61.1,NaN
2008,NaN,95.9,75.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,98.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,NaN,NaN,...,NaN,NaN,98.3,NaN,NaN,95.5,93.5,NaN,NaN,NaN
2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,NaN,96.8,...,NaN,NaN,98.1,NaN,NaN,NaN,NaN,NaN,83.0,NaN
2011,31.4,96.8,NaN,NaN,NaN,NaN,98.9,99.1,99.7,NaN,...,NaN,NaN,98.3,NaN,NaN,94.8,NaN,NaN,NaN,83.6
2012,NaN,97.2,NaN,NaN,NaN,NaN,NaN,99.1,NaN,NaN,...,NaN,NaN,98.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.1,NaN,NaN,...,NaN,NaN,98.4,100.0,NaN,NaN,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,NaN,NaN,66.0,NaN,99.0,NaN,NaN,...,NaN,NaN,98.4,100.0,84.7,NaN,NaN,NaN,NaN,88.7
2015,NaN,NaN,NaN,NaN,NaN,NaN,98.9,99.2,NaN,NaN,...,NaN,NaN,98.5,100.0,NaN,96.6,NaN,NaN,NaN,NaN
2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.1,99.7,NaN,...,NaN,NaN,98.6,100.0,NaN,97.1,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.7,NaN,...,NaN,NaN,98.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,NaN,98.1,81.4,NaN,NaN,NaN,NaN,99.0,NaN,97.8,...,NaN,NaN,98.7,100.0,87.5,NaN,NaN,NaN,86.7,NaN
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,98.8,100.0,NaN,NaN,95.8,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.8,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.5,NaN
2021,37.3,98.4,NaN,NaN,NaN,72.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,89.1,97.5,NaN,NaN,NaN,89.7
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
for col in literacy_rate:
    literacy_rate[col] = pd.to_numeric(literacy_rate[col], errors='coerce')

In [208]:
import numpy as np
for col in literacy_rate:
    literacy_rate[col].replace(np.nan, literacy_rate[col].mean(), inplace=True)

In [209]:
m = literacy_rate.mean(axis=1)
for i, col in enumerate(literacy_rate):
    # using i allows for duplicate columns
    # inplace *may* not always work here, so IMO the next line is preferred
    # df.iloc[:, i].fillna(m, inplace=True)
    literacy_rate.iloc[:, i] = literacy_rate.iloc[:, i].fillna(m)

In [210]:
literacy_rate = literacy_rate.T

In [211]:
literacy_rate

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,...,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,34.350000,37.300000,34.350000
Albania,97.516667,97.516667,97.516667,97.516667,97.516667,97.516667,97.516667,97.516667,97.516667,97.516667,...,97.516667,97.516667,97.516667,97.516667,97.516667,98.100000,97.516667,97.516667,98.400000,97.516667
Algeria,69.720000,69.720000,69.720000,69.720000,69.720000,69.720000,69.720000,49.600000,69.720000,69.720000,...,69.720000,69.720000,69.720000,69.720000,69.720000,81.400000,69.720000,69.720000,69.720000,69.720000
American Samoa,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,...,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000,97.300000
Andorra,79.667376,79.409925,80.329686,80.933817,80.414440,80.598389,80.488045,80.711643,80.639686,80.860048,...,81.302534,81.695054,81.719141,81.569433,81.810256,83.045049,81.759010,81.747785,83.631406,80.963009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,93.800000,84.700000,93.800000,93.800000,93.800000,93.800000,93.800000,93.800000,93.800000,93.800000,...,93.800000,93.800000,96.600000,97.100000,93.800000,93.800000,93.800000,93.800000,97.500000,93.800000
Vietnam,91.480000,91.480000,91.480000,91.480000,91.480000,91.480000,91.480000,91.480000,91.480000,87.600000,...,91.480000,91.480000,91.480000,91.480000,91.480000,91.480000,95.800000,91.480000,91.480000,91.480000
"Yemen, Rep.",45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,...,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000,45.600000
Zambia,74.342857,74.342857,74.342857,74.342857,74.342857,74.342857,74.342857,74.342857,74.342857,74.342857,...,74.342857,74.342857,74.342857,74.342857,74.342857,86.700000,74.342857,87.500000,74.342857,74.342857
Zimbabwe,84.660000,84.660000,77.800000,84.660000,84.660000,84.660000,84.660000,84.660000,84.660000,84.660000,...,84.660000,88.700000,84.660000,84.660000,84.660000,84.660000,84.660000,84.660000,89.700000,84.660000

In [212]:
literacy_rate.insert(loc=0, column="Iso_Code", value=iso_code) # Add Iso Code again
literacy_rate.insert(loc=0, column='Country', value=literacy_rate.index) # Add country Column

In [213]:
literacy_rate = literacy_rate.melt(id_vars=["Country","Iso_Code"], 
        var_name="Year", 
        value_name="Literacy Rate")
literacy_rate

             Country Iso_Code  Year  Literacy Rate
0        Afghanistan      AFG  1980      34.350000
1            Albania      ALB  1980      97.516667
2            Algeria      DZA  1980      69.720000
3     American Samoa      ASM  1980      97.300000
4            Andorra      AND  1980      79.667376
...              ...      ...   ...            ...
8853       Venezuela      VEN  2022      93.800000
8854         Vietnam      VNM  2022      91.480000
8855     Yemen, Rep.      YEM  2022      45.600000
8856          Zambia      ZMB  2022      74.342857
8857        Zimbabwe      ZWE  2022      84.660000

[8858 rows x 4 columns]

### Pivot the dataframe

In [215]:
literacy_rate.drop_duplicates(inplace=True)
literacy_rate

             Country Iso_Code  Year  Literacy Rate
0        Afghanistan      AFG  1980      34.350000
1            Albania      ALB  1980      97.516667
2            Algeria      DZA  1980      69.720000
3     American Samoa      ASM  1980      97.300000
4            Andorra      AND  1980      79.667376
...              ...      ...   ...            ...
8853       Venezuela      VEN  2022      93.800000
8854         Vietnam      VNM  2022      91.480000
8855     Yemen, Rep.      YEM  2022      45.600000
8856          Zambia      ZMB  2022      74.342857
8857        Zimbabwe      ZWE  2022      84.660000

[8858 rows x 4 columns]

# Aids Death

### Read and Clean data

In [216]:
aids = pd.read_excel('aids_death.xlsx',index_col=0)

In [218]:
aids_isocode = aids["Alpha-3 code"]
del aids["Alpha-3 code"]

### Fill nan Values with mean

In [220]:
import numpy as np
for columns in aids.columns:
    aids[columns].replace('..',np.nan, inplace=True)

In [221]:
aids = aids.T
aids

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,100.0,100.0,100.0,NaN,NaN,680.0,NaN,500.0,NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,"1,200.0",100.0,100.0,"16,000.0","29,000.0"
1991,100.0,100.0,100.0,NaN,NaN,890.0,NaN,510.0,NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,"1,200.0",100.0,100.0,"20,000.0","39,000.0"
1992,100.0,100.0,100.0,NaN,NaN,"1,200.0",NaN,730.0,NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,"1,200.0",200.0,100.0,"25,000.0","49,000.0"
1993,100.0,100.0,100.0,NaN,NaN,"1,500.0",NaN,"1,000.0",NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,"1,200.0",500.0,100.0,"30,000.0","60,000.0"
1994,100.0,100.0,100.0,NaN,NaN,"1,900.0",NaN,"1,300.0",NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,"1,200.0",500.0,100.0,"35,000.0","72,000.0"
1995,100.0,100.0,100.0,NaN,NaN,"2,400.0",NaN,"1,700.0",NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,"1,200.0",780.0,200.0,"41,000.0","83,000.0"
1996,100.0,100.0,100.0,NaN,NaN,"2,900.0",NaN,"2,100.0",NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,"1,200.0","1,300.0",200.0,"46,000.0","94,000.0"
1997,100.0,100.0,100.0,NaN,NaN,"3,500.0",NaN,"2,400.0",NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,"1,300.0","1,900.0",200.0,"51,000.0","100,000.0"
1998,100.0,100.0,100.0,NaN,NaN,"4,300.0",NaN,"1,800.0",NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,"1,500.0","2,600.0",200.0,"56,000.0","110,000.0"
1999,100.0,100.0,100.0,NaN,NaN,"5,100.0",NaN,"1,400.0",NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,"1,700.0","3,500.0",200.0,"61,000.0","120,000.0"
2000,100.0,100.0,100.0,NaN,NaN,"6,000.0",NaN,"1,400.0",NaN,NaN,...,NaN,NaN,500.0,100.0,NaN,"2,000.0","4,500.0",200.0,"65,000.0","120,000.0"
2001,200.0,100.0,100.0,NaN,NaN,"7,000.0",NaN,"1,500.0",NaN,NaN,...,NaN,NaN,500.0,100.0,NaN,"2,000.0","5,500.0",200.0,"68,000.0","130,000.0"
2002,200.0,100.0,200.0,NaN,NaN,"8,100.0",NaN,"1,600.0",NaN,NaN,...,NaN,NaN,500.0,100.0,NaN,"2,100.0","6,600.0",200.0,"71,000.0","130,000.0"
2003,200.0,100.0,200.0,NaN,NaN,"9,200.0",NaN,"1,600.0",NaN,NaN,...,NaN,NaN,500.0,200.0,NaN,"2,200.0","7,800.0",200.0,"73,000.0","130,000.0"
2004,200.0,100.0,200.0,NaN,NaN,"10,000.0",NaN,"1,600.0",NaN,NaN,...,NaN,NaN,500.0,200.0,NaN,"2,500.0","8,900.0",500.0,"70,000.0","130,000.0"
2005,200.0,100.0,200.0,NaN,NaN,"12,000.0",NaN,"1,600.0",NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,"2,800.0","9,800.0",500.0,"66,000.0","120,000.0"
2006,200.0,100.0,200.0,NaN,NaN,"13,000.0",NaN,"1,600.0",NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,"3,000.0","10,000.0",500.0,"62,000.0","110,000.0"
2007,500.0,100.0,200.0,NaN,NaN,"13,000.0",NaN,"1,600.0",NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,"2,500.0","9,400.0",500.0,"55,000.0","100,000.0"
2008,500.0,100.0,200.0,NaN,NaN,"14,000.0",NaN,"1,600.0",NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,"2,500.0","8,300.0",500.0,"43,000.0","91,000.0"
2009,500.0,100.0,200.0,NaN,NaN,"14,000.0",NaN,"1,500.0",NaN,NaN,...,NaN,NaN,500.0,570.0,NaN,"2,500.0","6,900.0",500.0,"36,000.0","79,000.0"
2010,500.0,100.0,200.0,NaN,NaN,"15,000.0",NaN,"1,500.0",NaN,NaN,...,NaN,"12,000.0",500.0,650.0,NaN,"2,500.0","6,200.0",500.0,"32,000.0","65,000.0"
2011,500.0,100.0,200.0,NaN,NaN,"16,000.0",NaN,"1,400.0",NaN,NaN,...,NaN,"12,000.0",500.0,740.0,NaN,"2,400.0","6,100.0",500.0,"30,000.0","51,000.0"
2012,500.0,100.0,200.0,NaN,NaN,"16,000.0",NaN,"1,400.0",NaN,NaN,...,NaN,"9,600.0",500.0,810.0,NaN,"2,500.0","5,800.0",500.0,"28,000.0","41,000.0"
2013,500.0,100.0,200.0,NaN,NaN,"17,000.0",NaN,"1,300.0",NaN,NaN,...,NaN,"9,000.0",500.0,"1,100.0",NaN,"2,700.0","5,500.0",500.0,"26,000.0","36,000.0"
2014,500.0,100.0,200.0,NaN,NaN,"15,000.0",NaN,"1,300.0",NaN,NaN,...,NaN,"9,500.0",500.0,"1,300.0",NaN,"3,000.0","5,100.0",500.0,"25,000.0","32,000.0"
2015,500.0,100.0,200.0,NaN,NaN,"15,000.0",NaN,"1,300.0",NaN,NaN,...,NaN,"9,000.0",500.0,"1,200.0",NaN,"2,900.0","4,900.0",500.0,"24,000.0","30,000.0"
2016,500.0,100.0,200.0,NaN,NaN,"15,000.0",NaN,"1,300.0",NaN,NaN,...,NaN,"8,400.0",500.0,970.0,NaN,"2,100.0","4,300.0",500.0,"22,000.0","28,000.0"
2017,500.0,100.0,500.0,NaN,NaN,"16,000.0",NaN,"1,300.0",NaN,NaN,...,NaN,"7,900.0",500.0,840.0,NaN,"2,000.0","4,200.0",500.0,"21,000.0","27,000.0"
2018,500.0,100.0,500.0,NaN,NaN,"17,000.0",NaN,"1,400.0",NaN,NaN,...,NaN,"7,800.0",500.0,740.0,NaN,"3,100.0","3,900.0",500.0,"23,000.0","25,000.0"
2019,500.0,100.0,500.0,NaN,NaN,"16,000.0",NaN,"1,400.0",NaN,NaN,...,NaN,"7,900.0",200.0,660.0,NaN,"4,400.0","3,900.0",500.0,"23,000.0","23,000.0"
2020,500.0,100.0,500.0,NaN,NaN,"16,000.0",NaN,"1,400.0",NaN,NaN,...,NaN,NaN,500.0,720.0,NaN,"3,900.0","3,700.0",500.0,"21,000.0","22,000.0"
2021,530.0,100.0,500.0,NaN,NaN,"15,000.0",NaN,"1,300.0",NaN,NaN,...,NaN,NaN,500.0,680.0,NaN,"2,300.0","3,500.0",500.0,"19,000.0","20,000.0"
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
for col in aids:  # Transform non numeric datas to numeric
    aids[col] = pd.to_numeric(aids[col].str.replace(',', ''), errors='coerce')
aids

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,100.0,100.0,100.0,NaN,NaN,680.0,NaN,500.0,NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,1200.0,100.0,100.0,16000.0,29000.0
1991,100.0,100.0,100.0,NaN,NaN,890.0,NaN,510.0,NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,1200.0,100.0,100.0,20000.0,39000.0
1992,100.0,100.0,100.0,NaN,NaN,1200.0,NaN,730.0,NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,1200.0,200.0,100.0,25000.0,49000.0
1993,100.0,100.0,100.0,NaN,NaN,1500.0,NaN,1000.0,NaN,NaN,...,NaN,NaN,100.0,100.0,NaN,1200.0,500.0,100.0,30000.0,60000.0
1994,100.0,100.0,100.0,NaN,NaN,1900.0,NaN,1300.0,NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,1200.0,500.0,100.0,35000.0,72000.0
1995,100.0,100.0,100.0,NaN,NaN,2400.0,NaN,1700.0,NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,1200.0,780.0,200.0,41000.0,83000.0
1996,100.0,100.0,100.0,NaN,NaN,2900.0,NaN,2100.0,NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,1200.0,1300.0,200.0,46000.0,94000.0
1997,100.0,100.0,100.0,NaN,NaN,3500.0,NaN,2400.0,NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,1300.0,1900.0,200.0,51000.0,100000.0
1998,100.0,100.0,100.0,NaN,NaN,4300.0,NaN,1800.0,NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,1500.0,2600.0,200.0,56000.0,110000.0
1999,100.0,100.0,100.0,NaN,NaN,5100.0,NaN,1400.0,NaN,NaN,...,NaN,NaN,200.0,100.0,NaN,1700.0,3500.0,200.0,61000.0,120000.0
2000,100.0,100.0,100.0,NaN,NaN,6000.0,NaN,1400.0,NaN,NaN,...,NaN,NaN,500.0,100.0,NaN,2000.0,4500.0,200.0,65000.0,120000.0
2001,200.0,100.0,100.0,NaN,NaN,7000.0,NaN,1500.0,NaN,NaN,...,NaN,NaN,500.0,100.0,NaN,2000.0,5500.0,200.0,68000.0,130000.0
2002,200.0,100.0,200.0,NaN,NaN,8100.0,NaN,1600.0,NaN,NaN,...,NaN,NaN,500.0,100.0,NaN,2100.0,6600.0,200.0,71000.0,130000.0
2003,200.0,100.0,200.0,NaN,NaN,9200.0,NaN,1600.0,NaN,NaN,...,NaN,NaN,500.0,200.0,NaN,2200.0,7800.0,200.0,73000.0,130000.0
2004,200.0,100.0,200.0,NaN,NaN,10000.0,NaN,1600.0,NaN,NaN,...,NaN,NaN,500.0,200.0,NaN,2500.0,8900.0,500.0,70000.0,130000.0
2005,200.0,100.0,200.0,NaN,NaN,12000.0,NaN,1600.0,NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,2800.0,9800.0,500.0,66000.0,120000.0
2006,200.0,100.0,200.0,NaN,NaN,13000.0,NaN,1600.0,NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,3000.0,10000.0,500.0,62000.0,110000.0
2007,500.0,100.0,200.0,NaN,NaN,13000.0,NaN,1600.0,NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,2500.0,9400.0,500.0,55000.0,100000.0
2008,500.0,100.0,200.0,NaN,NaN,14000.0,NaN,1600.0,NaN,NaN,...,NaN,NaN,500.0,500.0,NaN,2500.0,8300.0,500.0,43000.0,91000.0
2009,500.0,100.0,200.0,NaN,NaN,14000.0,NaN,1500.0,NaN,NaN,...,NaN,NaN,500.0,570.0,NaN,2500.0,6900.0,500.0,36000.0,79000.0
2010,500.0,100.0,200.0,NaN,NaN,15000.0,NaN,1500.0,NaN,NaN,...,NaN,12000.0,500.0,650.0,NaN,2500.0,6200.0,500.0,32000.0,65000.0
2011,500.0,100.0,200.0,NaN,NaN,16000.0,NaN,1400.0,NaN,NaN,...,NaN,12000.0,500.0,740.0,NaN,2400.0,6100.0,500.0,30000.0,51000.0
2012,500.0,100.0,200.0,NaN,NaN,16000.0,NaN,1400.0,NaN,NaN,...,NaN,9600.0,500.0,810.0,NaN,2500.0,5800.0,500.0,28000.0,41000.0
2013,500.0,100.0,200.0,NaN,NaN,17000.0,NaN,1300.0,NaN,NaN,...,NaN,9000.0,500.0,1100.0,NaN,2700.0,5500.0,500.0,26000.0,36000.0
2014,500.0,100.0,200.0,NaN,NaN,15000.0,NaN,1300.0,NaN,NaN,...,NaN,9500.0,500.0,1300.0,NaN,3000.0,5100.0,500.0,25000.0,32000.0
2015,500.0,100.0,200.0,NaN,NaN,15000.0,NaN,1300.0,NaN,NaN,...,NaN,9000.0,500.0,1200.0,NaN,2900.0,4900.0,500.0,24000.0,30000.0
2016,500.0,100.0,200.0,NaN,NaN,15000.0,NaN,1300.0,NaN,NaN,...,NaN,8400.0,500.0,970.0,NaN,2100.0,4300.0,500.0,22000.0,28000.0
2017,500.0,100.0,500.0,NaN,NaN,16000.0,NaN,1300.0,NaN,NaN,...,NaN,7900.0,500.0,840.0,NaN,2000.0,4200.0,500.0,21000.0,27000.0
2018,500.0,100.0,500.0,NaN,NaN,17000.0,NaN,1400.0,NaN,NaN,...,NaN,7800.0,500.0,740.0,NaN,3100.0,3900.0,500.0,23000.0,25000.0
2019,500.0,100.0,500.0,NaN,NaN,16000.0,NaN,1400.0,NaN,NaN,...,NaN,7900.0,200.0,660.0,NaN,4400.0,3900.0,500.0,23000.0,23000.0
2020,500.0,100.0,500.0,NaN,NaN,16000.0,NaN,1400.0,NaN,NaN,...,NaN,NaN,500.0,720.0,NaN,3900.0,3700.0,500.0,21000.0,22000.0
2021,530.0,100.0,500.0,NaN,NaN,15000.0,NaN,1300.0,NaN,NaN,...,NaN,NaN,500.0,680.0,NaN,2300.0,3500.0,500.0,19000.0,20000.0
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [223]:
import numpy as np
for col in aids:
    aids[col].replace(np.nan, aids[col].mean(), inplace=True)
aids

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
1980,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1981,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1982,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1983,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1984,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1985,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1986,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1987,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1988,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1989,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0
1990,100.0000,100.0,100.000,NaN,NaN,680.0000,NaN,500.000,NaN,NaN,...,NaN,9310.0,100.000,100.00,NaN,1200.0,100.00,100.000,16000.0,29000.0
1991,100.0000,100.0,100.000,NaN,NaN,890.0000,NaN,510.000,NaN,NaN,...,NaN,9310.0,100.000,100.00,NaN,1200.0,100.00,100.000,20000.0,39000.0
1992,100.0000,100.0,100.000,NaN,NaN,1200.0000,NaN,730.000,NaN,NaN,...,NaN,9310.0,100.000,100.00,NaN,1200.0,200.00,100.000,25000.0,49000.0
1993,100.0000,100.0,100.000,NaN,NaN,1500.0000,NaN,1000.000,NaN,NaN,...,NaN,9310.0,100.000,100.00,NaN,1200.0,500.00,100.000,30000.0,60000.0
1994,100.0000,100.0,100.000,NaN,NaN,1900.0000,NaN,1300.000,NaN,NaN,...,NaN,9310.0,200.000,100.00,NaN,1200.0,500.00,100.000,35000.0,72000.0
1995,100.0000,100.0,100.000,NaN,NaN,2400.0000,NaN,1700.000,NaN,NaN,...,NaN,9310.0,200.000,100.00,NaN,1200.0,780.00,200.000,41000.0,83000.0
1996,100.0000,100.0,100.000,NaN,NaN,2900.0000,NaN,2100.000,NaN,NaN,...,NaN,9310.0,200.000,100.00,NaN,1200.0,1300.00,200.000,46000.0,94000.0
1997,100.0000,100.0,100.000,NaN,NaN,3500.0000,NaN,2400.000,NaN,NaN,...,NaN,9310.0,200.000,100.00,NaN,1300.0,1900.00,200.000,51000.0,100000.0
1998,100.0000,100.0,100.000,NaN,NaN,4300.0000,NaN,1800.000,NaN,NaN,...,NaN,9310.0,200.000,100.00,NaN,1500.0,2600.00,200.000,56000.0,110000.0
1999,100.0000,100.0,100.000,NaN,NaN,5100.0000,NaN,1400.000,NaN,NaN,...,NaN,9310.0,200.000,100.00,NaN,1700.0,3500.00,200.000,61000.0,120000.0
2000,100.0000,100.0,100.000,NaN,NaN,6000.0000,NaN,1400.000,NaN,NaN,...,NaN,9310.0,500.000,100.00,NaN,2000.0,4500.00,200.000,65000.0,120000.0
2001,200.0000,100.0,100.000,NaN,NaN,7000.0000,NaN,1500.000,NaN,NaN,...,NaN,9310.0,500.000,100.00,NaN,2000.0,5500.00,200.000,68000.0,130000.0
2002,200.0000,100.0,200.000,NaN,NaN,8100.0000,NaN,1600.000,NaN,NaN,...,NaN,9310.0,500.000,100.00,NaN,2100.0,6600.00,200.000,71000.0,130000.0
2003,200.0000,100.0,200.000,NaN,NaN,9200.0000,NaN,1600.000,NaN,NaN,...,NaN,9310.0,500.000,200.00,NaN,2200.0,7800.00,200.000,73000.0,130000.0
2004,200.0000,100.0,200.000,NaN,NaN,10000.0000,NaN,1600.000,NaN,NaN,...,NaN,9310.0,500.000,200.00,NaN,2500.0,8900.00,500.000,70000.0,130000.0
2005,200.0000,100.0,200.000,NaN,NaN,12000.0000,NaN,1600.000,NaN,NaN,...,NaN,9310.0,500.000,500.00,NaN,2800.0,9800.00,500.000,66000.0,120000.0
2006,200.0000,100.0,200.000,NaN,NaN,13000.0000,NaN,1600.000,NaN,NaN,...,NaN,9310.0,500.000,500.00,NaN,3000.0,10000.00,500.000,62000.0,110000.0
2007,500.0000,100.0,200.000,NaN,NaN,13000.0000,NaN,1600.000,NaN,NaN,...,NaN,9310.0,500.000,500.00,NaN,2500.0,9400.00,500.000,55000.0,100000.0
2008,500.0000,100.0,200.000,NaN,NaN,14000.0000,NaN,1600.000,NaN,NaN,...,NaN,9310.0,500.000,500.00,NaN,2500.0,8300.00,500.000,43000.0,91000.0
2009,500.0000,100.0,200.000,NaN,NaN,14000.0000,NaN,1500.000,NaN,NaN,...,NaN,9310.0,500.000,570.00,NaN,2500.0,6900.00,500.000,36000.0,79000.0
2010,500.0000,100.0,200.000,NaN,NaN,15000.0000,NaN,1500.000,NaN,NaN,...,NaN,12000.0,500.000,650.00,NaN,2500.0,6200.00,500.000,32000.0,65000.0
2011,500.0000,100.0,200.000,NaN,NaN,16000.0000,NaN,1400.000,NaN,NaN,...,NaN,12000.0,500.000,740.00,NaN,2400.0,6100.00,500.000,30000.0,51000.0
2012,500.0000,100.0,200.000,NaN,NaN,16000.0000,NaN,1400.000,NaN,NaN,...,NaN,9600.0,500.000,810.00,NaN,2500.0,5800.00,500.000,28000.0,41000.0
2013,500.0000,100.0,200.000,NaN,NaN,17000.0000,NaN,1300.000,NaN,NaN,...,NaN,9000.0,500.000,1100.00,NaN,2700.0,5500.00,500.000,26000.0,36000.0
2014,500.0000,100.0,200.000,NaN,NaN,15000.0000,NaN,1300.000,NaN,NaN,...,NaN,9500.0,500.000,1300.00,NaN,3000.0,5100.00,500.000,25000.0,32000.0
2015,500.0000,100.0,200.000,NaN,NaN,15000.0000,NaN,1300.000,NaN,NaN,...,NaN,9000.0,500.000,1200.00,NaN,2900.0,4900.00,500.000,24000.0,30000.0
2016,500.0000,100.0,200.000,NaN,NaN,15000.0000,NaN,1300.000,NaN,NaN,...,NaN,8400.0,500.000,970.00,NaN,2100.0,4300.00,500.000,22000.0,28000.0
2017,500.0000,100.0,500.000,NaN,NaN,16000.0000,NaN,1300.000,NaN,NaN,...,NaN,7900.0,500.000,840.00,NaN,2000.0,4200.00,500.000,21000.0,27000.0
2018,500.0000,100.0,500.000,NaN,NaN,17000.0000,NaN,1400.000,NaN,NaN,...,NaN,7800.0,500.000,740.00,NaN,3100.0,3900.00,500.000,23000.0,25000.0
2019,500.0000,100.0,500.000,NaN,NaN,16000.0000,NaN,1400.000,NaN,NaN,...,NaN,7900.0,200.000,660.00,NaN,4400.0,3900.00,500.000,23000.0,23000.0
2020,500.0000,100.0,500.000,NaN,NaN,16000.0000,NaN,1400.000,NaN,NaN,...,NaN,9310.0,500.000,720.00,NaN,3900.0,3700.00,500.000,21000.0,22000.0
2021,530.0000,100.0,500.000,NaN,NaN,15000.0000,NaN,1300.000,NaN,NaN,...,NaN,9310.0,500.000,680.00,NaN,2300.0,3500.00,500.000,19000.0,20000.0
2022,307.1875,100.0,209.375,NaN,NaN,9989.6875,NaN,1416.875,NaN,NaN,...,NaN,9310.0,384.375,458.75,NaN,2212.5,4571.25,353.125,40125.0,71750.0

In [224]:
m = aids.mean(axis=1)
for i, col in enumerate(aids):
    # using i allows for duplicate columns
    # inplace *may* not always work here, so IMO the next line is preferred
    # df.iloc[:, i].fillna(m, inplace=True)
    aids.iloc[:, i] = aids.iloc[:, i].fillna(m)

In [225]:
aids = aids.T

In [226]:
aids.insert(loc=0, column="Iso_Code", value=iso_code)
aids.insert(loc=0, column='Country', value=aids.index)

In [227]:
aids = aids.melt(id_vars=["Country","Iso_Code"], 
        var_name="Year", 
        value_name="Aids_Death")
#aids = aids.sort_values(by=["Country","Year"])
aids

             Country Iso_Code  Year    Aids_Death
0        Afghanistan      AFG  1980    307.187500
1            Albania      ALB  1980    100.000000
2            Algeria      DZA  1980    209.375000
3     American Samoa      ASM  1980   8146.235685
4            Andorra      AND  1980   8146.235685
...              ...      ...   ...           ...
8853       Venezuela      VEN  2022   2212.500000
8854         Vietnam      VNM  2022   4571.250000
8855     Yemen, Rep.      YEM  2022    353.125000
8856          Zambia      ZMB  2022  40125.000000
8857        Zimbabwe      ZWE  2022  71750.000000

[8858 rows x 4 columns]

### Pivot the dataframe

In [228]:
aids.drop_duplicates(inplace=True)
aids

             Country Iso_Code  Year    Aids_Death
0        Afghanistan      AFG  1980    307.187500
1            Albania      ALB  1980    100.000000
2            Algeria      DZA  1980    209.375000
3     American Samoa      ASM  1980   8146.235685
4            Andorra      AND  1980   8146.235685
...              ...      ...   ...           ...
8853       Venezuela      VEN  2022   2212.500000
8854         Vietnam      VNM  2022   4571.250000
8855     Yemen, Rep.      YEM  2022    353.125000
8856          Zambia      ZMB  2022  40125.000000
8857        Zimbabwe      ZWE  2022  71750.000000

[8858 rows x 4 columns]

# Overweight

### Read and Clean data

In [229]:
overweight = pd.read_excel('ezafe_vazn.xlsx',index_col=0)

In [230]:
overweight

,Alpha-3 code,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,7.3,7.6,7.9,8.2,8.4,8.7,9.1,9.4,9.7,...,21.1,21.7,22.3,23,..,..,..,..,..,..
Albania,ALB,35.6,36.1,36.5,37,37.5,38,38.5,39,39.5,...,55.5,56.3,57,57.7,..,..,..,..,..,..
Algeria,DZA,33.3,34,34.8,35.6,36.4,37.2,38,38.9,39.7,...,59.8,60.5,61.3,62,..,..,..,..,..,..
American Samoa,ASM,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Andorra,AND,50.4,51.1,51.9,52.6,53.2,53.9,54.5,55,55.5,...,63.1,63.3,63.5,63.7,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,VEN,44.5,45.2,45.9,46.6,47.3,48,48.7,49.4,50.1,...,63,63.4,..,..,..,..,..,NaN,NaN,..
Vietnam,VNM,5.9,6.1,6.3,6.4,6.6,6.8,6.9,7.1,7.3,...,17.7,18.3,..,..,..,..,..,NaN,NaN,..
"Yemen, Rep.",YEM,23.5,24.1,24.8,25.4,26.1,26.7,27.4,28.1,28.7,...,48,48.8,..,..,..,..,..,NaN,NaN,..
Zambia,ZMB,14.9,15.3,15.7,16,16.4,16.7,17,17.3,17.6,...,27.3,27.8,..,..,..,..,..,NaN,NaN,..
Zimbabwe,ZWE,19.4,20,20.5,21.1,21.7,22.3,22.9,23.5,24.2,...,37.7,38.2,..,..,..,..,..,NaN,NaN,..

In [231]:
overweight_isocode = overweight["Alpha-3 code"]
del overweight["Alpha-3 code"]

In [232]:
overweight

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,7.3,7.6,7.9,8.2,8.4,8.7,9.1,9.4,9.7,10,...,21.1,21.7,22.3,23,..,..,..,..,..,..
Albania,35.6,36.1,36.5,37,37.5,38,38.5,39,39.5,40,...,55.5,56.3,57,57.7,..,..,..,..,..,..
Algeria,33.3,34,34.8,35.6,36.4,37.2,38,38.9,39.7,40.5,...,59.8,60.5,61.3,62,..,..,..,..,..,..
American Samoa,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Andorra,50.4,51.1,51.9,52.6,53.2,53.9,54.5,55,55.5,56,...,63.1,63.3,63.5,63.7,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,44.5,45.2,45.9,46.6,47.3,48,48.7,49.4,50.1,50.7,...,63,63.4,..,..,..,..,..,NaN,NaN,..
Vietnam,5.9,6.1,6.3,6.4,6.6,6.8,6.9,7.1,7.3,7.6,...,17.7,18.3,..,..,..,..,..,NaN,NaN,..
"Yemen, Rep.",23.5,24.1,24.8,25.4,26.1,26.7,27.4,28.1,28.7,29.3,...,48,48.8,..,..,..,..,..,NaN,NaN,..
Zambia,14.9,15.3,15.7,16,16.4,16.7,17,17.3,17.6,17.9,...,27.3,27.8,..,..,..,..,..,NaN,NaN,..
Zimbabwe,19.4,20,20.5,21.1,21.7,22.3,22.9,23.5,24.2,24.8,...,37.7,38.2,..,..,..,..,..,NaN,NaN,..

In [233]:
import numpy as np
for columns in overweight.columns:
    overweight[columns].replace('..',np.nan, inplace=True)

In [234]:
overweight = overweight.T
overweight

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
1980,7.3,35.6,33.3,NaN,50.4,9.6,27.9,42.8,37.1,NaN,...,42.9,44.0,42.7,30.4,31.5,44.5,5.9,23.5,14.9,19.4
1981,7.6,36.1,34.0,NaN,51.1,9.9,28.4,43.3,37.7,NaN,...,43.5,44.7,43.3,30.9,32.2,45.2,6.1,24.1,15.3,20.0
1982,7.9,36.5,34.8,NaN,51.9,10.2,29.0,43.9,38.3,NaN,...,44.1,45.3,43.8,31.4,33.0,45.9,6.3,24.8,15.7,20.5
1983,8.2,37.0,35.6,NaN,52.6,10.6,29.5,44.5,38.9,NaN,...,44.7,46.0,44.4,31.9,33.7,46.6,6.4,25.4,16.0,21.1
1984,8.4,37.5,36.4,NaN,53.2,10.9,30.1,45.1,39.4,NaN,...,45.3,46.7,45.0,32.3,34.5,47.3,6.6,26.1,16.4,21.7
1985,8.7,38.0,37.2,NaN,53.9,11.2,30.7,45.7,39.9,NaN,...,45.8,47.4,45.6,32.8,35.3,48.0,6.8,26.7,16.7,22.3
1986,9.1,38.5,38.0,NaN,54.5,11.6,31.3,46.3,40.4,NaN,...,46.4,48.1,46.1,33.2,36.0,48.7,6.9,27.4,17.0,22.9
1987,9.4,39.0,38.9,NaN,55.0,12.0,31.9,46.9,40.9,NaN,...,47.0,48.8,46.7,33.7,36.8,49.4,7.1,28.1,17.3,23.5
1988,9.7,39.5,39.7,NaN,55.5,12.4,32.5,47.5,41.4,NaN,...,47.5,49.5,47.3,34.1,37.6,50.1,7.3,28.7,17.6,24.2
1989,10.0,40.0,40.5,NaN,56.0,12.7,33.1,48.1,41.9,NaN,...,48.1,50.2,47.9,34.6,38.4,50.7,7.6,29.3,17.9,24.8
1990,10.4,40.5,41.4,NaN,56.4,13.1,33.7,48.7,42.4,NaN,...,48.7,50.9,48.5,35.0,39.2,51.4,7.8,29.9,18.2,25.5
1991,10.7,41.0,42.2,NaN,56.8,13.6,34.4,49.3,42.9,NaN,...,49.3,51.7,49.0,35.4,40.0,52.0,8.0,30.5,18.5,26.1
1992,11.0,41.5,43.0,NaN,57.2,14.0,34.9,49.9,43.3,NaN,...,49.9,52.4,49.6,35.8,40.7,52.6,8.3,31.1,18.7,26.7
1993,11.4,42.0,43.8,NaN,57.5,14.4,35.5,50.5,43.7,NaN,...,50.5,53.2,50.2,36.3,41.5,53.2,8.6,31.8,19.0,27.4
1994,11.7,42.5,44.6,NaN,57.9,14.9,36.1,51.1,44.1,NaN,...,51.1,54.0,50.8,36.7,42.3,53.9,8.8,32.5,19.2,28.0
1995,12.1,43.1,45.4,NaN,58.3,15.3,36.7,51.7,44.6,NaN,...,51.7,54.8,51.3,37.1,43.1,54.5,9.1,33.3,19.5,28.6
1996,12.5,43.6,46.3,NaN,58.6,15.8,37.2,52.2,45.0,NaN,...,52.3,55.6,51.9,37.6,43.8,55.0,9.5,34.1,19.7,29.2
1997,12.9,44.2,47.1,NaN,58.9,16.3,37.8,52.8,45.4,NaN,...,53.0,56.3,52.5,38.0,44.6,55.6,9.8,34.8,20.0,29.8
1998,13.4,44.8,47.9,NaN,59.3,16.7,38.3,53.3,45.7,NaN,...,53.6,57.1,53.0,38.5,45.3,56.2,10.1,35.6,20.2,30.4
1999,13.8,45.4,48.7,NaN,59.6,17.3,38.9,53.9,46.1,NaN,...,54.2,57.9,53.6,39.0,46.1,56.8,10.5,36.4,20.5,31.0
2000,14.2,46.0,49.5,NaN,59.9,17.8,39.4,54.4,46.5,NaN,...,54.8,58.6,54.2,39.5,46.8,57.3,10.9,37.2,20.8,31.6
2001,14.7,46.6,50.2,NaN,60.2,18.3,40.0,54.9,47.0,NaN,...,55.4,59.3,54.7,40.1,47.6,57.8,11.3,38.0,21.2,32.2
2002,15.2,47.3,51.0,NaN,60.5,18.8,40.5,55.5,47.4,NaN,...,56.0,60.0,55.3,40.6,48.4,58.3,11.7,38.7,21.6,32.7
2003,15.6,48.0,51.9,NaN,60.8,19.4,41.0,56.0,47.8,NaN,...,56.6,60.7,55.9,41.2,49.1,58.8,12.2,39.5,22.0,33.3
2004,16.1,48.7,52.7,NaN,61.1,20.0,41.5,56.6,48.3,NaN,...,57.2,61.3,56.4,41.8,49.9,59.2,12.7,40.3,22.5,33.8
2005,16.6,49.5,53.5,NaN,61.3,20.5,42.1,57.1,48.8,NaN,...,57.8,61.9,57.0,42.3,50.6,59.7,13.1,41.2,23.0,34.3
2006,17.1,50.2,54.3,NaN,61.6,21.1,42.6,57.6,49.3,NaN,...,58.4,62.5,57.6,42.9,51.3,60.1,13.6,42.0,23.5,34.8
2007,17.7,51.0,55.0,NaN,61.8,21.7,43.1,58.2,49.8,NaN,...,58.9,63.1,58.1,43.6,52.1,60.6,14.2,42.8,24.0,35.3
2008,18.2,51.8,55.8,NaN,62.0,22.3,43.6,58.7,50.3,NaN,...,59.5,63.7,58.7,44.2,52.8,61.0,14.7,43.7,24.5,35.7
2009,18.8,52.5,56.6,NaN,62.2,22.9,44.1,59.2,50.8,NaN,...,60.1,64.2,59.2,44.8,53.5,61.4,15.3,44.5,25.0,36.2
2010,19.3,53.3,57.4,NaN,62.5,23.6,44.7,59.7,51.3,NaN,...,60.6,64.8,59.7,45.5,54.3,61.8,15.9,45.4,25.6,36.6
2011,19.9,54.0,58.2,NaN,62.7,24.2,45.2,60.2,51.8,NaN,...,61.1,65.3,60.3,46.1,55.0,62.2,16.4,46.2,26.1,37.0
2012,20.5,54.8,59.0,NaN,62.9,24.8,45.7,60.7,52.3,NaN,...,61.7,65.8,60.8,46.8,55.7,62.6,17.1,47.1,26.7,37.3
2013,21.1,55.5,59.8,NaN,63.1,25.5,46.3,61.2,52.8,NaN,...,62.2,66.4,61.3,47.5,56.4,63.0,17.7,48.0,27.3,37.7
2014,21.7,56.3,60.5,NaN,63.3,26.2,46.9,61.8,53.4,NaN,...,62.7,66.9,61.9,48.2,57.1,63.4,18.3,48.8,27.8,38.2
2015,22.3,57.0,61.3,NaN,63.5,26.8,47.4,62.3,53.9,NaN,...,63.2,67.4,62.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,23.0,57.7,62.0,NaN,63.7,27.5,48.0,62.7,54.4,NaN,...,63.7,67.9,62.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
#for col in overweight:
 #   overweight[col] = pd.to_numeric(overweight[col].str.replace(',', ''), errors='coerce')
#overweight

In [236]:
import numpy as np
for col in overweight:
    overweight[col].replace(np.nan, overweight[col].mean(), inplace=True)
overweight

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,"Yemen, Rep.",Zambia,Zimbabwe
1980,7.300000,35.600000,33.30000,NaN,50.400000,9.600000,27.900000,42.800000,37.100000,NaN,...,42.9,44.000000,42.700000,30.400000,31.500000,44.500000,5.900000,23.500000,14.900000,19.400000
1981,7.600000,36.100000,34.00000,NaN,51.100000,9.900000,28.400000,43.300000,37.700000,NaN,...,43.5,44.700000,43.300000,30.900000,32.200000,45.200000,6.100000,24.100000,15.300000,20.000000
1982,7.900000,36.500000,34.80000,NaN,51.900000,10.200000,29.000000,43.900000,38.300000,NaN,...,44.1,45.300000,43.800000,31.400000,33.000000,45.900000,6.300000,24.800000,15.700000,20.500000
1983,8.200000,37.000000,35.60000,NaN,52.600000,10.600000,29.500000,44.500000,38.900000,NaN,...,44.7,46.000000,44.400000,31.900000,33.700000,46.600000,6.400000,25.400000,16.000000,21.100000
1984,8.400000,37.500000,36.40000,NaN,53.200000,10.900000,30.100000,45.100000,39.400000,NaN,...,45.3,46.700000,45.000000,32.300000,34.500000,47.300000,6.600000,26.100000,16.400000,21.700000
1985,8.700000,38.000000,37.20000,NaN,53.900000,11.200000,30.700000,45.700000,39.900000,NaN,...,45.8,47.400000,45.600000,32.800000,35.300000,48.000000,6.800000,26.700000,16.700000,22.300000
1986,9.100000,38.500000,38.00000,NaN,54.500000,11.600000,31.300000,46.300000,40.400000,NaN,...,46.4,48.100000,46.100000,33.200000,36.000000,48.700000,6.900000,27.400000,17.000000,22.900000
1987,9.400000,39.000000,38.90000,NaN,55.000000,12.000000,31.900000,46.900000,40.900000,NaN,...,47.0,48.800000,46.700000,33.700000,36.800000,49.400000,7.100000,28.100000,17.300000,23.500000
1988,9.700000,39.500000,39.70000,NaN,55.500000,12.400000,32.500000,47.500000,41.400000,NaN,...,47.5,49.500000,47.300000,34.100000,37.600000,50.100000,7.300000,28.700000,17.600000,24.200000
1989,10.000000,40.000000,40.50000,NaN,56.000000,12.700000,33.100000,48.100000,41.900000,NaN,...,48.1,50.200000,47.900000,34.600000,38.400000,50.700000,7.600000,29.300000,17.900000,24.800000
1990,10.400000,40.500000,41.40000,NaN,56.400000,13.100000,33.700000,48.700000,42.400000,NaN,...,48.7,50.900000,48.500000,35.000000,39.200000,51.400000,7.800000,29.900000,18.200000,25.500000
1991,10.700000,41.000000,42.20000,NaN,56.800000,13.600000,34.400000,49.300000,42.900000,NaN,...,49.3,51.700000,49.000000,35.400000,40.000000,52.000000,8.000000,30.500000,18.500000,26.100000
1992,11.000000,41.500000,43.00000,NaN,57.200000,14.000000,34.900000,49.900000,43.300000,NaN,...,49.9,52.400000,49.600000,35.800000,40.700000,52.600000,8.300000,31.100000,18.700000,26.700000
1993,11.400000,42.000000,43.80000,NaN,57.500000,14.400000,35.500000,50.500000,43.700000,NaN,...,50.5,53.200000,50.200000,36.300000,41.500000,53.200000,8.600000,31.800000,19.000000,27.400000
1994,11.700000,42.500000,44.60000,NaN,57.900000,14.900000,36.100000,51.100000,44.100000,NaN,...,51.1,54.000000,50.800000,36.700000,42.300000,53.900000,8.800000,32.500000,19.200000,28.000000
1995,12.100000,43.100000,45.40000,NaN,58.300000,15.300000,36.700000,51.700000,44.600000,NaN,...,51.7,54.800000,51.300000,37.100000,43.100000,54.500000,9.100000,33.300000,19.500000,28.600000
1996,12.500000,43.600000,46.30000,NaN,58.600000,15.800000,37.200000,52.200000,45.000000,NaN,...,52.3,55.600000,51.900000,37.600000,43.800000,55.000000,9.500000,34.100000,19.700000,29.200000
1997,12.900000,44.200000,47.10000,NaN,58.900000,16.300000,37.800000,52.800000,45.400000,NaN,...,53.0,56.300000,52.500000,38.000000,44.600000,55.600000,9.800000,34.800000,20.000000,29.800000
1998,13.400000,44.800000,47.90000,NaN,59.300000,16.700000,38.300000,53.300000,45.700000,NaN,...,53.6,57.100000,53.000000,38.500000,45.300000,56.200000,10.100000,35.600000,20.200000,30.400000
1999,13.800000,45.400000,48.70000,NaN,59.600000,17.300000,38.900000,53.900000,46.100000,NaN,...,54.2,57.900000,53.600000,39.000000,46.100000,56.800000,10.500000,36.400000,20.500000,31.000000
2000,14.200000,46.000000,49.50000,NaN,59.900000,17.800000,39.400000,54.400000,46.500000,NaN,...,54.8,58.600000,54.200000,39.500000,46.800000,57.300000,10.900000,37.200000,20.800000,31.600000
2001,14.700000,46.600000,50.20000,NaN,60.200000,18.300000,40.000000,54.900000,47.000000,NaN,...,55.4,59.300000,54.700000,40.100000,47.600000,57.800000,11.300000,38.000000,21.200000,32.200000
2002,15.200000,47.300000,51.00000,NaN,60.500000,18.800000,40.500000,55.500000,47.400000,NaN,...,56.0,60.000000,55.300000,40.600000,48.400000,58.300000,11.700000,38.700000,21.600000,32.700000
2003,15.600000,48.000000,51.90000,NaN,60.800000,19.400000,41.000000,56.000000,47.800000,NaN,...,56.6,60.700000,55.900000,41.200000,49.100000,58.800000,12.200000,39.500000,22.000000,33.300000
2004,16.100000,48.700000,52.70000,NaN,61.100000,20.000000,41.500000,56.600000,48.300000,NaN,...,57.2,61.300000,56.400000,41.800000,49.900000,59.200000,12.700000,40.300000,22.500000,33.800000
2005,16.600000,49.500000,53.50000,NaN,61.300000,20.500000,42.100000,57.100000,48.800000,NaN,...,57.8,61.900000,57.000000,42.300000,50.600000,59.700000,13.100000,41.200000,23.000000,34.300000
2006,17.100000,50.200000,54.30000,NaN,61.600000,21.100000,42.600000,57.600000,49.300000,NaN,...,58.4,62.500000,57.600000,42.900000,51.300000,60.100000,13.600000,42.000000,23.500000,34.800000
2007,17.700000,51.000000,55.00000,NaN,61.800000,21.700000,43.100000,58.200000,49.800000,NaN,...,58.9,63.100000,58.100000,43.600000,52.100000,60.600000,14.200000,42.800000,24.000000,35.300000
2008,18.200000,51.800000,55.80000,NaN,62.000000,22.300000,43.600000,58.700000,50.300000,NaN,...,59.5,63.700000,58.700000,44.200000,52.800000,61.000000,14.700000,43.700000,24.500000,35.700000
2009,18.800000,52.500000,56.60000,NaN,62.200000,22.900000,44.100000,59.200000,50.800000,NaN,...,60.1,64.200000,59.200000,44.800000,53.500000,61.400000,15.300000,44.500000,25.000000,36.200000
2010,19.300000,53.300000,57.40000,NaN,62.500000,23.600000,44.700000,59.700000,51.300000,NaN,...,60.6,64.800000,59.700000,45.500000,54.300000,61.800000,15.900000,45.400000,25.600000,36.600000
2011,19.900000,54.000000,58.20000,NaN,62.700000,24.200000,45.200000,60.200000,51.800000,NaN,...,61.1,65.300000,60.300000,46.100000,55.000000,62.200000,16.400000,46.200000,26.100000,37.000000
2012,20.500000,54.800000,59.00000,NaN,62.900000,24.800000,45.700000,60.700000,52.300000,NaN,...,61.7,65.800000,60.800000,46.800000,55.700000,62.600000,17.100000,47.100000,26.700000,37.300000
2013,21.100000,55.500000,59.80000,NaN,63.100000,25.500000,46.300000,61.200000,52.800000,NaN,...,62.2,66.400000,61.300000,47.500000,56.400000,63.000000,17.700000,48.000000,27.300000,37.700000
2014,21.700000,56.300000,60.50000,NaN,63.300000,26.200000,46.900000,61.800000,53.400000,NaN,...,62.7,66.900000,61.900000,48.200000,57.100000,63.400000,18.300000,48.800000,27.800000,38.200000
2015,22.300000,57.000000,61.30000,NaN,63.500000,26.800000,47.400000,62.300000,53.900000,NaN,...,63.2,67.400000,62.400000,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857
2016,23.000000,57.700000,62.00000,NaN,63.700000,27.500000,48.000000,62.700000,54.400000,NaN,...,63.7,67.900000,62.900000,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857
2017,14.005405,45.581081,47.77027,NaN,58.586486,17.402703,38.108108,53.089189,45.810811,NaN,...,53.5,56.605405,52.962162,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857
2018,14.005405,45.581081,47.77027,NaN,58.586486,17.402703,38.108108,53.089189,45.810811,NaN,...,53.5,56.605405,52.962162,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857
2019,14.005405,45.581081,47.77027,NaN,58.586486,17.402703,38.108108,53.089189,45.810811,NaN,...,53.5,56.605405,52.962162,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857
2020,14.005405,45.581081,47.77027,NaN,58.586486,17.402703,38.108108,53.089189,45.810811,NaN,...,53.5,56.605405,52.962162,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857
2021,14.005405,45.581081,47.77027,NaN,58.586486,17.402703,38.108108,53.089189,45.810811,NaN,...,53.5,56.605405,52.962162,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857
2022,14.005405,45.581081,47.77027,NaN,58.586486,17.402703,38.108108,53.089189,45.810811,NaN,...,53.5,56.605405,52.962162,38.565714,44.462857,54.994286,10.645714,35.357143,20.568571,29.422857

In [237]:
m = overweight.mean(axis=1)
for i, col in enumerate(overweight):
    # using i allows for duplicate columns
    # inplace *may* not always work here, so IMO the next line is preferred
    # df.iloc[:, i].fillna(m, inplace=True)
    overweight.iloc[:, i] = overweight.iloc[:, i].fillna(m)

In [238]:
overweight = overweight.T

In [239]:
overweight.insert(loc=0, column="Iso_Code", value=overweight_isocode)
overweight.insert(loc=0, column='Country', value=overweight.index)

In [240]:
overweight

,Country,Iso_Code,1980,1981,1982,1983,1984,1985,1986,1987,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Afghanistan,AFG,7.300000,7.600000,7.90000,8.200000,8.400000,8.700000,9.100000,9.400000,...,21.100000,21.700000,22.300000,23.000000,14.005405,14.005405,14.005405,14.005405,14.005405,14.005405
Albania,Albania,ALB,35.600000,36.100000,36.50000,37.000000,37.500000,38.000000,38.500000,39.000000,...,55.500000,56.300000,57.000000,57.700000,45.581081,45.581081,45.581081,45.581081,45.581081,45.581081
Algeria,Algeria,DZA,33.300000,34.000000,34.80000,35.600000,36.400000,37.200000,38.000000,38.900000,...,59.800000,60.500000,61.300000,62.000000,47.770270,47.770270,47.770270,47.770270,47.770270,47.770270
American Samoa,American Samoa,ASM,29.094595,29.635135,30.16973,30.708649,31.254595,31.795676,32.339459,32.887027,...,47.054054,47.616757,47.793066,48.332525,38.820414,38.820414,38.820414,38.820414,38.820414,38.820414
Andorra,Andorra,AND,50.400000,51.100000,51.90000,52.600000,53.200000,53.900000,54.500000,55.000000,...,63.100000,63.300000,63.500000,63.700000,58.586486,58.586486,58.586486,58.586486,58.586486,58.586486
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,Venezuela,VEN,44.500000,45.200000,45.90000,46.600000,47.300000,48.000000,48.700000,49.400000,...,63.000000,63.400000,54.994286,54.994286,54.994286,54.994286,54.994286,54.994286,54.994286,54.994286
Vietnam,Vietnam,VNM,5.900000,6.100000,6.30000,6.400000,6.600000,6.800000,6.900000,7.100000,...,17.700000,18.300000,10.645714,10.645714,10.645714,10.645714,10.645714,10.645714,10.645714,10.645714
"Yemen, Rep.","Yemen, Rep.",YEM,23.500000,24.100000,24.80000,25.400000,26.100000,26.700000,27.400000,28.100000,...,48.000000,48.800000,35.357143,35.357143,35.357143,35.357143,35.357143,35.357143,35.357143,35.357143
Zambia,Zambia,ZMB,14.900000,15.300000,15.70000,16.000000,16.400000,16.700000,17.000000,17.300000,...,27.300000,27.800000,20.568571,20.568571,20.568571,20.568571,20.568571,20.568571,20.568571,20.568571
Zimbabwe,Zimbabwe,ZWE,19.400000,20.000000,20.50000,21.100000,21.700000,22.300000,22.900000,23.500000,...,37.700000,38.200000,29.422857,29.422857,29.422857,29.422857,29.422857,29.422857,29.422857,29.422857

In [241]:
overweight = overweight.melt(id_vars=["Country","Iso_Code"], 
        var_name="Year", 
        value_name="Overweight")
#overweight = overweight.sort_values(by=["Country","Year"],ascending=True)
overweight

             Country Iso_Code  Year  Overweight
0        Afghanistan      AFG  1980    7.300000
1            Albania      ALB  1980   35.600000
2            Algeria      DZA  1980   33.300000
3     American Samoa      ASM  1980   29.094595
4            Andorra      AND  1980   50.400000
...              ...      ...   ...         ...
8896       Venezuela      VEN  2022   54.994286
8897         Vietnam      VNM  2022   10.645714
8898     Yemen, Rep.      YEM  2022   35.357143
8899          Zambia      ZMB  2022   20.568571
8900        Zimbabwe      ZWE  2022   29.422857

[8901 rows x 4 columns]

### Pivot the dataframe

In [242]:
overweight.drop_duplicates(inplace=True)
overweight

             Country Iso_Code  Year  Overweight
0        Afghanistan      AFG  1980    7.300000
1            Albania      ALB  1980   35.600000
2            Algeria      DZA  1980   33.300000
3     American Samoa      ASM  1980   29.094595
4            Andorra      AND  1980   50.400000
...              ...      ...   ...         ...
8896       Venezuela      VEN  2022   54.994286
8897         Vietnam      VNM  2022   10.645714
8898     Yemen, Rep.      YEM  2022   35.357143
8899          Zambia      ZMB  2022   20.568571
8900        Zimbabwe      ZWE  2022   29.422857

[8901 rows x 4 columns]

# Pivot GDP - Hepatit and Hospitalbeds Dataset

In [243]:
gdp = pd.read_csv("GdpPerCapita.csv", index_col=0)

In [244]:
gdp

,ISO3 Alpha-code,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,276.00000,268.00000,271.000000,277.000000,282.00000,286.000000,290.000000,255.000000,234.000000,...,754.40200,746.92200,705.59700,617.12600,635.78900,582.32300,586.20400,611.26800,611.26800,611.26800
Albania,ALB,728.35900,817.73400,824.542000,815.529000,788.33200,788.801000,855.724000,832.245000,805.046000,...,4415.59800,4584.91700,3953.60900,4124.40500,4525.88900,5254.45500,5305.07400,5152.56300,5837.18000,6284.02700
Algeria,DZA,2268.60700,2305.50500,2254.328000,2316.679000,2432.71700,2753.697000,2698.915000,2705.111000,2143.742000,...,5477.05500,5466.32900,4153.32200,3918.94100,4079.65300,4118.73500,3939.53600,3337.31700,3638.32800,3672.46300
American Samoa,ASM,3833.17977,3736.90823,3563.350684,3422.983189,3381.59952,3359.112872,3697.645633,4219.256179,4575.116224,...,14820.53212,14924.38666,13276.79571,13301.65389,14069.55549,14971.81152,14787.77617,13660.00586,15307.00016,16349.13741
Andorra,AND,15662.00000,13124.00000,12161.000000,10152.000000,9780.00000,9838.000000,13112.000000,15962.000000,18101.000000,...,45630.19500,46299.28200,38877.48500,39595.31700,40017.74100,42229.90300,40688.49100,36630.55000,40417.26500,42713.07600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),VIR,3833.17977,3736.90823,3563.350684,3422.983189,3381.59952,3359.112872,3697.645633,4219.256179,4575.116224,...,14820.53212,14924.38666,13276.79571,13301.65389,14069.55549,14971.81152,14787.77617,13660.00586,15307.00016,16349.13741
West Bank and Gaza,NaN,1227.23700,1227.23700,1227.237000,1227.237000,1227.23700,1227.237000,1227.237000,1227.237000,1227.237000,...,3122.98500,3158.59900,3084.13200,3325.84600,3407.30700,3353.22500,3442.75400,3050.54600,3320.85300,3514.22200
Yemen,YEM,1046.18300,1046.18300,1046.183000,1046.183000,1046.18300,1046.183000,1046.183000,1046.183000,1046.183000,...,1515.94600,1574.24600,1500.67100,1075.02500,895.42700,701.12600,691.58700,580.22100,585.00300,587.40800
Zambia,ZMB,718.79500,718.74300,672.013000,562.441000,448.53200,412.851000,276.151000,332.268000,543.316000,...,1839.33400,1726.64700,1310.45800,1254.12000,1500.96200,1480.42000,1272.23800,1023.16300,1115.27200,1195.77700
Zimbabwe,ZWE,981.00000,1136.00000,1164.000000,1017.000000,799.00000,852.000000,905.000000,946.000000,1060.000000,...,1421.54800,1415.02700,1425.01400,1444.26300,1526.71200,1606.11100,1314.09000,1443.41500,1664.75800,1757.98500

In [245]:
gdp.insert(loc=0, column='Country', value=gdp.index)

In [246]:
gdp = gdp.melt(id_vars=["Country","ISO3 Alpha-code"], 
        var_name="Year", 
        value_name="GDP per Capita")
#gdp = gdp.sort_values(by=["Country","Year"],ascending=True)
gdp = gdp.rename(columns={'ISO3 Alpha-code':"Iso_Code"})
gdp

                    Country Iso_Code  Year  GDP per Capita
0               Afghanistan      AFG  1980       276.00000
1                   Albania      ALB  1980       728.35900
2                   Algeria      DZA  1980      2268.60700
3            American Samoa      ASM  1980      3833.17977
4                   Andorra      AND  1980     15662.00000
...                     ...      ...   ...             ...
9326  Virgin Islands (U.S.)      VIR  2022     16349.13741
9327     West Bank and Gaza      NaN  2022      3514.22200
9328                  Yemen      YEM  2022       587.40800
9329                 Zambia      ZMB  2022      1195.77700
9330               Zimbabwe      ZWE  2022      1757.98500

[9331 rows x 4 columns]

In [247]:
hepatit = pd.read_csv("HepatitVaccination.csv", index_col=0)

In [248]:
hepatit

,ISO3 Alpha-code,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,...,64.000000,62.000000,64.000000,66.000000,66.000000,72.000000,72.000000,70.000000,66.000000,66.000000
Albania,ALB,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,98.000000,99.000000,98.000000,99.000000,99.000000,99.000000,98.000000,98.000000,98.000000
Algeria,DZA,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,...,95.000000,95.000000,95.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000
American Samoa,ASM,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,...,87.328042,87.195767,87.116402,87.375661,87.169312,87.380952,87.677249,85.148148,83.857143,83.857143
Andorra,AND,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,...,94.000000,95.000000,94.000000,94.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),VIR,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,...,87.328042,87.195767,87.116402,87.375661,87.169312,87.380952,87.677249,85.148148,83.857143,83.857143
West Bank and Gaza,NaN,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,98.000000,95.000000,95.000000
"Yemen, Rep.",YEM,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,73.000000,73.000000,69.000000,71.000000,68.000000,65.000000,73.000000,72.000000,72.000000,72.000000
Zambia,ZMB,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,...,79.000000,86.000000,90.000000,95.000000,94.000000,90.000000,88.000000,84.000000,91.000000,91.000000
Zimbabwe,ZWE,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,95.000000,91.000000,87.000000,90.000000,89.000000,89.000000,90.000000,86.000000,86.000000,86.000000

In [249]:
hepatit.insert(loc=0, column='Country', value=hepatit.index)

In [250]:
hepatit = hepatit.melt(id_vars=["Country","ISO3 Alpha-code"], 
        var_name="Year", 
        value_name="Hepatit Vaccination")
#hepatit = hepatit.sort_values(by=["Country","Year"],ascending=True)
hepatit = hepatit.rename(columns={'ISO3 Alpha-code':"Iso_Code"})
hepatit

                    Country Iso_Code  Year  Hepatit Vaccination
0               Afghanistan      AFG  1980            63.000000
1                   Albania      ALB  1980            99.000000
2                   Algeria      DZA  1980            81.000000
3            American Samoa      ASM  1980            55.984127
4                   Andorra      AND  1980            75.000000
...                     ...      ...   ...                  ...
9326  Virgin Islands (U.S.)      VIR  2022            83.857143
9327     West Bank and Gaza      NaN  2022            95.000000
9328            Yemen, Rep.      YEM  2022            72.000000
9329                 Zambia      ZMB  2022            91.000000
9330               Zimbabwe      ZWE  2022            86.000000

[9331 rows x 4 columns]

In [251]:
hospital_beds = pd.read_csv("HospitalBeds.csv", index_col=0)

In [252]:
hospital_beds

,ISO3 Alpha-code,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,0.3,0.30000,0.300000,0.300000,0.300000,0.30000,0.300000,0.300000,0.266667,...,0.500000,0.500000,0.500000,0.500000,0.400000,0.400000,0.400000,0.400000,0.4,0.4
Albania,ALB,4.3,4.20000,4.200000,4.100000,4.100000,4.10000,4.100000,4.000000,3.900000,...,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.9,2.9
Algeria,DZA,2.5,2.50000,2.500000,2.500000,2.500000,2.50000,2.500000,2.550000,2.600000,...,1.863636,1.881818,1.900000,1.900000,1.900000,1.900000,1.900000,1.900000,1.9,1.9
American Samoa,ASM,1.0,1.00000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,1.985714,2.150000,2.314286,2.478571,2.642857,2.807143,2.971429,3.135714,3.3,3.3
Andorra,AND,4.5,4.41875,4.337500,4.256250,4.175000,4.09375,4.012500,3.931250,3.850000,...,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.9,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),VIR,4.8,4.80000,4.800000,4.800000,4.800000,4.80000,4.800000,4.800000,4.800000,...,6.947826,6.256522,5.565217,4.873913,4.182609,3.491304,2.800000,2.800000,2.8,2.8
West Bank and Gaza,NaN,1.2,1.20000,1.200000,1.200000,1.200000,1.20000,1.200000,1.200000,1.200000,...,1.052174,1.043478,1.034783,1.026087,1.017391,1.008696,1.000000,1.000000,1.0,1.0
"Yemen, Rep.",YEM,0.8,0.80000,0.800000,0.800000,0.800000,0.80000,0.800000,0.800000,0.800000,...,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.7,0.7
Zambia,ZMB,3.5,3.50000,3.434783,3.369565,3.304348,3.23913,3.173913,3.108696,3.043478,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.0
Zimbabwe,ZWE,3.0,2.68000,2.360000,2.040000,1.720000,1.40000,1.650000,1.900000,1.433333,...,1.700000,1.700000,1.700000,1.700000,1.700000,1.700000,1.700000,1.700000,1.7,1.7

In [253]:
hospital_beds.insert(loc=0, column='Country', value=hospital_beds.index)

hospital_beds = hospital_beds.melt(id_vars=["Country","ISO3 Alpha-code"], 
        var_name="Year", 
        value_name="Hospital Beds")
#hospital_beds = hospital_beds.sort_values(by=["Country","Year"],ascending=True)
hospital_beds = hospital_beds.rename(columns={'ISO3 Alpha-code':"Iso_Code"})
hospital_beds

                    Country Iso_Code  Year  Hospital Beds
0               Afghanistan      AFG  1980            0.3
1                   Albania      ALB  1980            4.3
2                   Algeria      DZA  1980            2.5
3            American Samoa      ASM  1980            1.0
4                   Andorra      AND  1980            4.5
...                     ...      ...   ...            ...
9326  Virgin Islands (U.S.)      VIR  2022            2.8
9327     West Bank and Gaza      NaN  2022            1.0
9328            Yemen, Rep.      YEM  2022            0.7
9329                 Zambia      ZMB  2022            2.0
9330               Zimbabwe      ZWE  2022            1.7

[9331 rows x 4 columns]

# Merge Columns

In [254]:
df0 = literacy_rate.merge(aids, how='inner', on=['Iso_Code','Year']).merge(overweight, how='inner', on=['Iso_Code','Year'])
#df1 = gdp.merge(hepatit, how='inner', on='Iso_Code').merge(hospital_beds, how='inner', on='Iso_Code')
#df0.merge(df1, how='inner', on='Iso_Code')
df0 = df0.drop(['Country_x','Country_y','Country'],axis=1)#'Year_x','Year_y'], axis=1)
#df0 = df0.rename(columns={'Country_x':'Country'})
df0

     Iso_Code  Year  Literacy Rate    Aids_Death  Overweight
0         AFG  1980      34.350000    307.187500    7.300000
1         ALB  1980      97.516667    100.000000   35.600000
2         DZA  1980      69.720000    209.375000   33.300000
3         ASM  1980      97.300000   8146.235685   29.094595
4         AND  1980      79.667376   8146.235685   50.400000
...       ...   ...            ...           ...         ...
8810      VEN  2022      93.800000   2212.500000   54.994286
8811      VNM  2022      91.480000   4571.250000   10.645714
8812      YEM  2022      45.600000    353.125000   35.357143
8813      ZMB  2022      74.342857  40125.000000   20.568571
8814      ZWE  2022      84.660000  71750.000000   29.422857

[8815 rows x 5 columns]

In [255]:
df0.drop_duplicates(inplace=True)
df0

     Iso_Code  Year  Literacy Rate    Aids_Death  Overweight
0         AFG  1980      34.350000    307.187500    7.300000
1         ALB  1980      97.516667    100.000000   35.600000
2         DZA  1980      69.720000    209.375000   33.300000
3         ASM  1980      97.300000   8146.235685   29.094595
4         AND  1980      79.667376   8146.235685   50.400000
...       ...   ...            ...           ...         ...
8810      VEN  2022      93.800000   2212.500000   54.994286
8811      VNM  2022      91.480000   4571.250000   10.645714
8812      YEM  2022      45.600000    353.125000   35.357143
8813      ZMB  2022      74.342857  40125.000000   20.568571
8814      ZWE  2022      84.660000  71750.000000   29.422857

[8815 rows x 5 columns]

In [256]:
df0['Year'] = df0['Year'].astype(int)

In [258]:
df1 = gdp.merge(hepatit, how='inner', on=['Iso_Code','Year']).merge(hospital_beds, how='inner', on=['Iso_Code','Year'])

In [259]:
df1 = df1.drop(['Country_y','Country_x','Country'], axis=1)
#df1 = df1.rename(columns={'Country_x':'Country'})
df1

     Iso_Code  Year  GDP per Capita  Hepatit Vaccination  Hospital Beds
0         AFG  1980       276.00000            63.000000            0.3
1         ALB  1980       728.35900            99.000000            4.3
2         DZA  1980      2268.60700            81.000000            2.5
3         ASM  1980      3833.17977            55.984127            1.0
4         AND  1980     15662.00000            75.000000            4.5
...       ...   ...             ...                  ...            ...
9584      VNM  2022      4187.47100            83.000000            2.6
9585      VIR  2022     16349.13741            83.857143            2.8
9586      YEM  2022       587.40800            72.000000            0.7
9587      ZMB  2022      1195.77700            91.000000            2.0
9588      ZWE  2022      1757.98500            86.000000            1.7

[9589 rows x 5 columns]

In [260]:
df1.drop_duplicates(inplace=True)
df1['Year'] = df1['Year'].astype(int)
df1

     Iso_Code  Year  GDP per Capita  Hepatit Vaccination  Hospital Beds
0         AFG  1980       276.00000            63.000000            0.3
1         ALB  1980       728.35900            99.000000            4.3
2         DZA  1980      2268.60700            81.000000            2.5
3         ASM  1980      3833.17977            55.984127            1.0
4         AND  1980     15662.00000            75.000000            4.5
...       ...   ...             ...                  ...            ...
9584      VNM  2022      4187.47100            83.000000            2.6
9585      VIR  2022     16349.13741            83.857143            2.8
9586      YEM  2022       587.40800            72.000000            0.7
9587      ZMB  2022      1195.77700            91.000000            2.0
9588      ZWE  2022      1757.98500            86.000000            1.7

[9589 rows x 5 columns]

### Merge for estimate

In [261]:
df = df0.merge(df1, how='inner', on=['Iso_Code','Year'])
df

,Iso_Code,Year,Literacy Rate,Aids_Death,Overweight,GDP per Capita,Hepatit Vaccination,Hospital Beds
0,AFG,1980,34.350000,307.187500,7.300000,276.00000,63.000000,0.3
1,ALB,1980,97.516667,100.000000,35.600000,728.35900,99.000000,4.3
2,DZA,1980,69.720000,209.375000,33.300000,2268.60700,81.000000,2.5
3,ASM,1980,97.300000,8146.235685,29.094595,3833.17977,55.984127,1.0
4,AND,1980,79.667376,8146.235685,50.400000,15662.00000,75.000000,4.5
...,...,...,...,...,...,...,...,...
8767,VEN,2022,93.800000,2212.500000,54.994286,1617.76300,56.000000,0.9
8768,VNM,2022,91.480000,4571.250000,10.645714,4187.47100,83.000000,2.6
8769,YEM,2022,45.600000,353.125000,35.357143,587.40800,72.000000,0.7
8770,ZMB,2022,74.342857,40125.000000,20.568571,1195.77700,91.000000,2.0
8771,ZWE,2022,84.660000,71750.000000,29.422857,1757.98500,86.000000,1.7

### Merge for Prediction

In [262]:
df_2022 = df[df['Year']==2022]
df_2022

,Iso_Code,Year,Literacy Rate,Aids_Death,Overweight,GDP per Capita,Hepatit Vaccination,Hospital Beds
8568,AFG,2022,34.350000,307.187500,14.005405,611.26800,66.000000,0.4
8569,ALB,2022,97.516667,100.000000,45.581081,6284.02700,98.000000,2.9
8570,DZA,2022,69.720000,209.375000,47.770270,3672.46300,91.000000,1.9
8571,ASM,2022,97.300000,8146.235685,38.820414,16349.13741,83.857143,3.3
8572,AND,2022,80.963009,8146.235685,58.586486,42713.07600,98.000000,2.9
...,...,...,...,...,...,...,...,...
8767,VEN,2022,93.800000,2212.500000,54.994286,1617.76300,56.000000,0.9
8768,VNM,2022,91.480000,4571.250000,10.645714,4187.47100,83.000000,2.6
8769,YEM,2022,45.600000,353.125000,35.357143,587.40800,72.000000,0.7
8770,ZMB,2022,74.342857,40125.000000,20.568571,1195.77700,91.000000,2.0
8771,ZWE,2022,84.660000,71750.000000,29.422857,1757.98500,86.000000,1.7

In [263]:
df = df[df["Year"] < 2022]
df

,Iso_Code,Year,Literacy Rate,Aids_Death,Overweight,GDP per Capita,Hepatit Vaccination,Hospital Beds
0,AFG,1980,34.350000,307.187500,7.300000,276.00000,63.000000,0.3
1,ALB,1980,97.516667,100.000000,35.600000,728.35900,99.000000,4.3
2,DZA,1980,69.720000,209.375000,33.300000,2268.60700,81.000000,2.5
3,ASM,1980,97.300000,8146.235685,29.094595,3833.17977,55.984127,1.0
4,AND,1980,79.667376,8146.235685,50.400000,15662.00000,75.000000,4.5
...,...,...,...,...,...,...,...,...
8563,VEN,2021,97.500000,2300.000000,54.994286,1627.35300,56.000000,0.9
8564,VNM,2021,91.480000,3500.000000,10.645714,3742.85800,83.000000,2.6
8565,YEM,2021,45.600000,500.000000,35.357143,585.00300,72.000000,0.7
8566,ZMB,2021,74.342857,19000.000000,20.568571,1115.27200,91.000000,2.0
8567,ZWE,2021,89.700000,20000.000000,29.422857,1664.75800,86.000000,1.7

# Merge to Original dataset

In [264]:
estimate = pd.read_excel('WPP2022_estimates.xlsx',index_col=0)

In [265]:
estimate.columns = estimate.iloc[0]
estimate = estimate.iloc[1:]
estimate = estimate[(estimate.loc[:,'Type'] == 'Country/Area') & (estimate.loc[:,'Year'] >= 1980)]
estimate

Index,Variant,"Region, subregion, country or area *",NaN,Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1763,Estimates,Burundi,Bulgaria,NaN,108,BDI,BI,108,Country/Area,910,...,584.014,530.2,262.35,281.885,243.801,387.959,419.18,359.112,149.36,35.235
1764,Estimates,Burundi,Burkina Faso,NaN,108,BDI,BI,108,Country/Area,910,...,570.048,517.596,255.932,274.488,238.2,379.794,409.591,352.052,-58.722,-12.983
1765,Estimates,Burundi,Burundi,NaN,108,BDI,BI,108,Country/Area,910,...,557.729,507.549,251.709,268.927,235.284,374.509,402.717,348.354,-3.837,-0.833
1766,Estimates,Burundi,Cabo Verde,NaN,108,BDI,BI,108,Country/Area,910,...,548.443,499.02,249.445,266.112,233.526,371.677,399.213,346.123,-41.786,-8.8
1767,Estimates,Burundi,Cambodia,NaN,108,BDI,BI,108,Country/Area,910,...,546.937,493.525,251.35,269.676,233.788,374.056,403.644,346.452,-29.572,-6.088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20592,Estimates,Wallis and Futuna Islands,NaN,2,876,WLF,WF,876,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20593,Estimates,Wallis and Futuna Islands,NaN,2,876,WLF,WF,876,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20594,Estimates,Wallis and Futuna Islands,NaN,2,876,WLF,WF,876,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20595,Estimates,Wallis and Futuna Islands,NaN,2,876,WLF,WF,876,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20596,Estimates,Wallis and Futuna Islands,NaN,2,876,WLF,WF,876,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [266]:
estimate = estimate.rename(columns={'ISO3 Alpha-code':'Iso_Code'})

In [267]:
final_estimate = df.merge(estimate, how='inner', on=['Iso_Code','Year'])

In [268]:
final_estimate

,Iso_Code,Year,Literacy Rate,Aids_Death,Overweight,GDP per Capita,Hepatit Vaccination,Hospital Beds,Variant,"Region, subregion, country or area *",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,AFG,1980,34.350000,307.187500,7.300000,276.00000,63.000000,0.3,Estimates,Afghanistan,...,704.375,617.683,367.132,414.173,313.674,521.206,575.356,456.101,-1205.401,-92.075
1,ALB,1980,97.516667,100.000000,35.600000,728.35900,99.000000,4.3,Estimates,Albania,...,206.554,140.002,56.395,68.925,42.123,113.2,138.768,86.186,-9.135,-3.101
2,DZA,1980,69.720000,209.375000,33.300000,2268.60700,81.000000,2.5,Estimates,Algeria,...,472.467,418.768,191.216,204.628,177.606,326.761,357.691,295.197,29.298,1.564
3,ASM,1980,97.300000,8146.235685,29.094595,3833.17977,55.984127,1.0,Estimates,American Samoa,...,273.2,156.261,94.71,124.704,60.943,191.002,244.727,130.293,0.115,3.501
4,AND,1980,79.667376,8146.235685,50.400000,15662.00000,75.000000,4.5,Estimates,Andorra,...,123.148,68.832,33.047,40.078,24.698,82.599,106.366,56.321,0.959,27.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,VEN,2021,97.500000,2300.000000,54.994286,1627.35300,56.000000,0.9,Estimates,Venezuela (Bolivarian Republic of),...,267.61,133.069,110.19,159.363,57.051,184.265,248.498,115.516,-525.116,-18.451
8564,VNM,2021,91.480000,3500.000000,10.645714,3742.85800,83.000000,2.6,Estimates,Viet Nam,...,212.116,96.666,70.527,100.801,39.007,131.241,183.997,77.554,-0.992,-0.01
8565,YEM,2021,45.600000,500.000000,35.357143,585.00300,72.000000,0.7,Estimates,Yemen,...,347.585,225.259,124.294,164.127,81.618,235.095,294.032,171.918,-101.468,-3.072
8566,ZMB,2021,74.342857,19000.000000,20.568571,1115.27200,91.000000,2.0,Estimates,Zambia,...,414.859,297.382,168.411,202.99,133.336,309.112,368.647,250.213,9.015,0.463
8567,ZWE,2021,89.700000,20000.000000,29.422857,1664.75800,86.000000,1.7,Estimates,Zimbabwe,...,492.685,365.858,226.668,272.194,188.179,386.447,456.323,326.282,-25.005,-1.562

In [269]:
prediction = pd.read_excel('WPP2022_prediction.xlsx',index_col=0)

In [270]:
prediction

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Migration,Unnamed: 64
Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,Year,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1,Medium,WORLD,NaN,900,NaN,NaN,1,World,0,2022,...,224.626,156.073,78.931,95.683,61.297,152.967,185.961,118.483,0,0
2,Medium,WORLD,NaN,900,NaN,NaN,1,World,0,2023,...,203.109,140.347,70.319,85.344,54.517,134.101,163.862,103.099,0,0
3,Medium,WORLD,NaN,900,NaN,NaN,1,World,0,2024,...,199.691,137.57,69.039,83.819,53.488,131.36,160.623,100.865,0,0
4,Medium,WORLD,NaN,900,NaN,NaN,1,World,0,2025,...,198.58,136.669,68.647,83.311,53.207,130.282,159.25,100.068,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22594,Medium,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,2096,...,23.443,28.466,7.623,6.452,8.814,21.332,20.498,22.179,-0.01,-0.991
22595,Medium,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,2097,...,23.12,28.045,7.511,6.361,8.678,21.02,20.212,21.841,-0.01,-0.995
22596,Medium,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,2098,...,22.797,27.413,7.364,6.27,8.475,20.624,19.925,21.334,-0.01,-1
22597,Medium,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,2099,...,22.473,26.992,7.251,6.179,8.34,20.311,19.638,20.996,-0.01,-1.005
22598,Medium,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,2100,...,22.15,26.662,7.153,6.088,8.235,20.036,19.351,20.733,-0.01,-1.011

In [271]:
prediction.columns = prediction.iloc[0]
prediction = prediction.iloc[1:]
prediction = prediction[(prediction.loc[:,'Type'] == 'Country/Area') & (prediction.loc[:,'Year'] == 2022)]
prediction

Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,Year,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1901,Medium,Burundi,NaN,108,BDI,BI,108,Country/Area,910,2022,...,366.298,297.211,163.181,182.724,143.684,276.224,309.539,243.136,2,0.155
1980,Medium,Comoros,NaN,174,COM,KM,174,Country/Area,910,2022,...,328.808,248.587,119.095,136.8,100.769,238.316,275.396,197.783,-2,-2.387
2059,Medium,Djibouti,NaN,262,DJI,DJ,262,Country/Area,910,2022,...,360.036,267.514,151.01,177.793,123.833,260.358,303.327,216.771,0.9,0.803
2138,Medium,Eritrea,NaN,232,ERI,ER,232,Country/Area,910,2022,...,288.303,218.526,116.961,135.452,98.922,211.465,244.289,180.807,-17.152,-4.644
2217,Medium,Ethiopia,NaN,231,ETH,ET,231,Country/Area,910,2022,...,318.315,210.908,123.195,154.357,90.956,220.092,268.213,170.578,-11.999,-0.097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22204,Medium,Samoa,NaN,882,WSM,WS,882,Country/Area,957,2022,...,191.932,124.525,62.983,76.674,48.685,141.627,172.458,107.452,-1.5,-6.722
22283,Medium,Tokelau,35,772,TKL,TK,772,Country/Area,957,2022,...,138.518,137.223,61.563,57.267,65.838,129.968,130.622,130.308,0,0
22362,Medium,Tonga,NaN,776,TON,TO,776,Country/Area,957,2022,...,240.088,162.637,93.789,111.406,77.66,189.669,227.862,151.131,-0.8,-7.458
22441,Medium,Tuvalu,NaN,798,TUV,TV,798,Country/Area,957,2022,...,393.821,230.433,166.314,209.391,115.979,302.188,374.681,209.364,-0.06,-5.288
22520,Medium,Wallis and Futuna Islands,2,876,WLF,WF,876,Country/Area,957,2022,...,74.694,77.353,23.371,21.358,25.034,64.203,66.538,62.191,-0.136,-11.68

In [272]:
prediction = prediction.rename(columns={'ISO3 Alpha-code':'Iso_Code'})

In [273]:
final_prediction = df_2022.merge(prediction, how='inner', on=['Iso_Code','Year'])
final_prediction

,Iso_Code,Year,Literacy Rate,Aids_Death,Overweight,GDP per Capita,Hepatit Vaccination,Hospital Beds,Variant,"Region, subregion, country or area *",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,AFG,2022,34.350000,307.187500,14.005405,611.26800,66.000000,0.4,Medium,Afghanistan,...,374.257,248.539,150.287,195.837,101.294,268.266,329.563,203.017,-65.846,-1.6
1,ALB,2022,97.516667,100.000000,45.581081,6284.02700,98.000000,2.9,Medium,Albania,...,128.238,70.424,39.528,51.066,27.794,89.15,118.03,60.363,-8,-2.81
2,DZA,2022,69.720000,209.375000,47.770270,3672.46300,91.000000,1.9,Medium,Algeria,...,114.342,83.302,38.562,44.63,32.151,78.036,91.602,63.708,-9.999,-0.223
3,ASM,2022,97.300000,8146.235685,38.820414,16349.13741,83.857143,3.3,Medium,American Samoa,...,185.719,111.436,58.155,73.746,42.742,139.02,173.906,103.593,-0.81,-18.13
4,AND,2022,80.963009,8146.235685,58.586486,42713.07600,98.000000,2.9,Medium,Andorra,...,53.73,35.505,14.57,16.508,12.531,38.042,46.754,28.694,0.2,2.505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,VEN,2022,93.800000,2212.500000,54.994286,1617.76300,56.000000,0.9,Medium,Venezuela (Bolivarian Republic of),...,260.476,126.842,103.721,150.689,53.262,178.519,242.597,110.413,297.713,10.576
200,VNM,2022,91.480000,4571.250000,10.645714,4187.47100,83.000000,2.6,Medium,Viet Nam,...,208.388,91.773,70.637,102.044,37.847,128.483,181.797,73.932,-82.7,-0.842
201,YEM,2022,45.600000,353.125000,35.357143,587.40800,72.000000,0.7,Medium,Yemen,...,349.874,223.898,124.652,165.361,81.038,235.799,296.054,171.078,-29.998,-0.89
202,ZMB,2022,74.342857,40125.000000,20.568571,1195.77700,91.000000,2.0,Medium,Zambia,...,403.965,287.093,162.122,196.001,127.744,300.703,359.558,242.378,-5,-0.25
203,ZWE,2022,84.660000,71750.000000,29.422857,1757.98500,86.000000,1.7,Medium,Zimbabwe,...,486.961,365.883,226.274,269.632,189.764,382.439,449.363,325.386,-9.999,-0.612

In [274]:
final_estimate.to_csv('Final_Estimate.csv')
final_prediction.to_csv('Final_Prediction.csv')