## GDP_per_capita

In [51]:
import pandas as pd

In [65]:
df = pd.read_csv('GDP_per_capita.csv',index_col = 0)
df

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,276.000,268.000,271.000,277.000,282.000,286.000,290.000,255.000,234.000,288.000,...,754.402,746.922,705.597,617.126,635.789,582.323,586.204,611.268,NaN,NaN
Albania,728.359,817.734,824.542,815.529,788.332,788.801,855.724,832.245,805.046,860.784,...,4415.598,4584.917,3953.609,4124.405,4525.889,5254.455,5305.074,5152.563,5837.180,6284.027
Algeria,2268.607,2305.505,2254.328,2316.679,2432.717,2753.697,2698.915,2705.111,2143.742,2127.866,...,5477.055,5466.329,4153.322,3918.941,4079.653,4118.735,3939.536,3337.317,3638.328,3672.463
Andorra,15662.000,13124.000,12161.000,10152.000,9780.000,9838.000,13112.000,15962.000,18101.000,19191.000,...,45630.195,46299.282,38877.485,39595.317,40017.741,42229.903,40688.491,36630.550,40417.265,42713.076
Angola,745.119,679.020,661.520,671.804,693.779,758.525,690.446,769.563,812.794,920.268,...,5436.516,5625.736,4354.921,3676.826,4300.097,3465.062,2805.261,1881.195,2200.675,2276.746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Major advanced economies (G7),11275.329,11549.690,11432.416,12000.847,12568.193,13250.386,15952.805,18237.184,20385.210,21012.478,...,47327.901,48230.694,46059.622,47105.655,48514.189,51015.438,51768.286,50280.090,55163.546,59353.273
Middle East and Central Asia,2185.050,2227.902,2102.186,2088.863,2068.163,2027.242,2001.242,2328.870,2342.234,2601.417,...,5379.637,5368.440,4668.426,4478.470,4517.402,4769.637,4868.694,4667.765,5420.904,5648.807
Other advanced economies,6877.848,6920.637,6780.744,6686.900,6937.737,6852.915,8281.336,10092.696,11769.170,12668.275,...,42354.494,42812.495,39097.890,39577.043,42272.682,44194.861,43099.806,42493.991,48199.256,50714.514
Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1987.831,2021.770,1761.765,1597.486,1666.414,1747.679,1723.276,1589.323,1757.113,1869.084
World,2865.992,2878.115,2771.834,2797.840,2848.772,2919.033,3377.208,3822.335,4221.647,4362.945,...,10905.853,11059.268,10342.774,10386.650,10898.421,11457.522,11534.665,11107.768,12293.133,13131.439

In [66]:
# only keeping countries
df1 = df.loc[:'Zimbabwe']
df1

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,276.000,268.000,271.000,277.000,282.000,286.000,290.000,255.000,234.000,288.000,...,754.402,746.922,705.597,617.126,635.789,582.323,586.204,611.268,NaN,NaN
Albania,728.359,817.734,824.542,815.529,788.332,788.801,855.724,832.245,805.046,860.784,...,4415.598,4584.917,3953.609,4124.405,4525.889,5254.455,5305.074,5152.563,5837.180,6284.027
Algeria,2268.607,2305.505,2254.328,2316.679,2432.717,2753.697,2698.915,2705.111,2143.742,2127.866,...,5477.055,5466.329,4153.322,3918.941,4079.653,4118.735,3939.536,3337.317,3638.328,3672.463
Andorra,15662.000,13124.000,12161.000,10152.000,9780.000,9838.000,13112.000,15962.000,18101.000,19191.000,...,45630.195,46299.282,38877.485,39595.317,40017.741,42229.903,40688.491,36630.550,40417.265,42713.076
Angola,745.119,679.020,661.520,671.804,693.779,758.525,690.446,769.563,812.794,920.268,...,5436.516,5625.736,4354.921,3676.826,4300.097,3465.062,2805.261,1881.195,2200.675,2276.746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,652.593,318.521,414.347,612.565,1044.409,318.956,705.990,856.910,464.581,123.364,...,2369.973,2566.854,2581.907,2720.168,2957.899,3201.686,3398.214,3522.510,3742.858,4187.471
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3122.985,3158.599,3084.132,3325.846,3407.307,3353.225,3442.754,3050.546,3320.853,3514.222
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1515.946,1574.246,1500.671,1075.025,895.427,701.126,691.587,580.221,585.003,587.408
Zambia,718.795,718.743,672.013,562.441,448.532,412.851,276.151,332.268,543.316,561.832,...,1839.334,1726.647,1310.458,1254.120,1500.962,1480.420,1272.238,1023.163,1115.272,1195.777
Zimbabwe,981.000,1136.000,1164.000,1017.000,799.000,852.000,905.000,946.000,1060.000,1086.000,...,1421.548,1415.027,1425.014,1444.263,1526.712,1606.111,1314.090,1443.415,1664.758,1757.985

In [67]:
#changing type to float
df1 = df1.astype(float)
df1

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,276.000,268.000,271.000,277.000,282.000,286.000,290.000,255.000,234.000,288.000,...,754.402,746.922,705.597,617.126,635.789,582.323,586.204,611.268,NaN,NaN
Albania,728.359,817.734,824.542,815.529,788.332,788.801,855.724,832.245,805.046,860.784,...,4415.598,4584.917,3953.609,4124.405,4525.889,5254.455,5305.074,5152.563,5837.180,6284.027
Algeria,2268.607,2305.505,2254.328,2316.679,2432.717,2753.697,2698.915,2705.111,2143.742,2127.866,...,5477.055,5466.329,4153.322,3918.941,4079.653,4118.735,3939.536,3337.317,3638.328,3672.463
Andorra,15662.000,13124.000,12161.000,10152.000,9780.000,9838.000,13112.000,15962.000,18101.000,19191.000,...,45630.195,46299.282,38877.485,39595.317,40017.741,42229.903,40688.491,36630.550,40417.265,42713.076
Angola,745.119,679.020,661.520,671.804,693.779,758.525,690.446,769.563,812.794,920.268,...,5436.516,5625.736,4354.921,3676.826,4300.097,3465.062,2805.261,1881.195,2200.675,2276.746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,652.593,318.521,414.347,612.565,1044.409,318.956,705.990,856.910,464.581,123.364,...,2369.973,2566.854,2581.907,2720.168,2957.899,3201.686,3398.214,3522.510,3742.858,4187.471
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3122.985,3158.599,3084.132,3325.846,3407.307,3353.225,3442.754,3050.546,3320.853,3514.222
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1515.946,1574.246,1500.671,1075.025,895.427,701.126,691.587,580.221,585.003,587.408
Zambia,718.795,718.743,672.013,562.441,448.532,412.851,276.151,332.268,543.316,561.832,...,1839.334,1726.647,1310.458,1254.120,1500.962,1480.420,1272.238,1023.163,1115.272,1195.777
Zimbabwe,981.000,1136.000,1164.000,1017.000,799.000,852.000,905.000,946.000,1060.000,1086.000,...,1421.548,1415.027,1425.014,1444.263,1526.712,1606.111,1314.090,1443.415,1664.758,1757.985

In [71]:
#filling missing values with interpolation
df2 = df1.interpolate(axis=1, limit_direction='both')
df2

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,276.000,268.000,271.000,277.000,282.000,286.000,290.000,255.000,234.000,288.000,...,754.402,746.922,705.597,617.126,635.789,582.323,586.204,611.268,611.268,611.268
Albania,728.359,817.734,824.542,815.529,788.332,788.801,855.724,832.245,805.046,860.784,...,4415.598,4584.917,3953.609,4124.405,4525.889,5254.455,5305.074,5152.563,5837.180,6284.027
Algeria,2268.607,2305.505,2254.328,2316.679,2432.717,2753.697,2698.915,2705.111,2143.742,2127.866,...,5477.055,5466.329,4153.322,3918.941,4079.653,4118.735,3939.536,3337.317,3638.328,3672.463
Andorra,15662.000,13124.000,12161.000,10152.000,9780.000,9838.000,13112.000,15962.000,18101.000,19191.000,...,45630.195,46299.282,38877.485,39595.317,40017.741,42229.903,40688.491,36630.550,40417.265,42713.076
Angola,745.119,679.020,661.520,671.804,693.779,758.525,690.446,769.563,812.794,920.268,...,5436.516,5625.736,4354.921,3676.826,4300.097,3465.062,2805.261,1881.195,2200.675,2276.746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,652.593,318.521,414.347,612.565,1044.409,318.956,705.990,856.910,464.581,123.364,...,2369.973,2566.854,2581.907,2720.168,2957.899,3201.686,3398.214,3522.510,3742.858,4187.471
West Bank and Gaza,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,...,3122.985,3158.599,3084.132,3325.846,3407.307,3353.225,3442.754,3050.546,3320.853,3514.222
Yemen,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,...,1515.946,1574.246,1500.671,1075.025,895.427,701.126,691.587,580.221,585.003,587.408
Zambia,718.795,718.743,672.013,562.441,448.532,412.851,276.151,332.268,543.316,561.832,...,1839.334,1726.647,1310.458,1254.120,1500.962,1480.420,1272.238,1023.163,1115.272,1195.777
Zimbabwe,981.000,1136.000,1164.000,1017.000,799.000,852.000,905.000,946.000,1060.000,1086.000,...,1421.548,1415.027,1425.014,1444.263,1526.712,1606.111,1314.090,1443.415,1664.758,1757.985

In [72]:
df2.to_csv('gdp_per_capita.csv')

In [73]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 196 entries, Afghanistan to Zimbabwe
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1980    196 non-null    float64
 1   1981    196 non-null    float64
 2   1982    196 non-null    float64
 3   1983    196 non-null    float64
 4   1984    196 non-null    float64
 5   1985    196 non-null    float64
 6   1986    196 non-null    float64
 7   1987    196 non-null    float64
 8   1988    196 non-null    float64
 9   1989    196 non-null    float64
 10  1990    196 non-null    float64
 11  1991    196 non-null    float64
 12  1992    196 non-null    float64
 13  1993    196 non-null    float64
 14  1994    196 non-null    float64
 15  1995    196 non-null    float64
 16  1996    196 non-null    float64
 17  1997    196 non-null    float64
 18  1998    196 non-null    float64
 19  1999    196 non-null    float64
 20  2000    196 non-null    float64
 21  2001    196 non-null    float64
 22  2002    196 non-null    float64
 23  2003    196 non-null    float64
 24  2004    196 non-null    float64
 25  2005    196 non-null    float64
 26  2006    196 non-null    float64
 27  2007    196 non-null    float64
 28  2008    196 non-null    float64
 29  2009    196 non-null    float64
 30  2010    196 non-null    float64
 31  2011    196 non-null    float64
 32  2012    196 non-null    float64
 33  2013    196 non-null    float64
 34  2014    196 non-null    float64
 35  2015    196 non-null    float64
 36  2016    196 non-null    float64
 37  2017    196 non-null    float64
 38  2018    196 non-null    float64
 39  2019    196 non-null    float64
 40  2020    196 non-null    float64
 41  2021    196 non-null    float64
 42  2022    196 non-null    float64
dtypes: float64(43)
memory usage: 71.4+ KB

In [108]:
df11 = pd.read_csv('gdp_per_capita.csv',index_col = 0)
df11

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,276.000,268.000,271.000,277.000,282.000,286.000,290.000,255.000,234.000,288.000,...,754.402,746.922,705.597,617.126,635.789,582.323,586.204,611.268,611.268,611.268
Albania,728.359,817.734,824.542,815.529,788.332,788.801,855.724,832.245,805.046,860.784,...,4415.598,4584.917,3953.609,4124.405,4525.889,5254.455,5305.074,5152.563,5837.180,6284.027
Algeria,2268.607,2305.505,2254.328,2316.679,2432.717,2753.697,2698.915,2705.111,2143.742,2127.866,...,5477.055,5466.329,4153.322,3918.941,4079.653,4118.735,3939.536,3337.317,3638.328,3672.463
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,15662.000,13124.000,12161.000,10152.000,9780.000,9838.000,13112.000,15962.000,18101.000,19191.000,...,45630.195,46299.282,38877.485,39595.317,40017.741,42229.903,40688.491,36630.550,40417.265,42713.076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,1227.237,...,3122.985,3158.599,3084.132,3325.846,3407.307,3353.225,3442.754,3050.546,3320.853,3514.222
Yemen,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,1046.183,...,1515.946,1574.246,1500.671,1075.025,895.427,701.126,691.587,580.221,585.003,587.408
Zambia,718.795,718.743,672.013,562.441,448.532,412.851,276.151,332.268,543.316,561.832,...,1839.334,1726.647,1310.458,1254.120,1500.962,1480.420,1272.238,1023.163,1115.272,1195.777
Zimbabwe,981.000,1136.000,1164.000,1017.000,799.000,852.000,905.000,946.000,1060.000,1086.000,...,1421.548,1415.027,1425.014,1444.263,1526.712,1606.111,1314.090,1443.415,1664.758,1757.985

In [111]:
# some rows dont have any data, thus they dont fill with interpolation
# filling np.nans with average of columns
for col in df11:
    df11[col].replace(np.nan, df11[col].mean(), inplace=True)

In [113]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
Index: 218 entries, Afghanistan to Zimbabwe
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1980    218 non-null    float64
 1   1981    218 non-null    float64
 2   1982    218 non-null    float64
 3   1983    218 non-null    float64
 4   1984    218 non-null    float64
 5   1985    218 non-null    float64
 6   1986    218 non-null    float64
 7   1987    218 non-null    float64
 8   1988    218 non-null    float64
 9   1989    218 non-null    float64
 10  1990    218 non-null    float64
 11  1991    218 non-null    float64
 12  1992    218 non-null    float64
 13  1993    218 non-null    float64
 14  1994    218 non-null    float64
 15  1995    218 non-null    float64
 16  1996    218 non-null    float64
 17  1997    218 non-null    float64
 18  1998    218 non-null    float64
 19  1999    218 non-null    float64
 20  2000    218 non-null    float64
 21  2001    218 non-null    float64
 22  2002    218 non-null    float64
 23  2003    218 non-null    float64
 24  2004    218 non-null    float64
 25  2005    218 non-null    float64
 26  2006    218 non-null    float64
 27  2007    218 non-null    float64
 28  2008    218 non-null    float64
 29  2009    218 non-null    float64
 30  2010    218 non-null    float64
 31  2011    218 non-null    float64
 32  2012    218 non-null    float64
 33  2013    218 non-null    float64
 34  2014    218 non-null    float64
 35  2015    218 non-null    float64
 36  2016    218 non-null    float64
 37  2017    218 non-null    float64
 38  2018    218 non-null    float64
 39  2019    218 non-null    float64
 40  2020    218 non-null    float64
 41  2021    218 non-null    float64
 42  2022    218 non-null    float64
dtypes: float64(43)
memory usage: 74.9+ KB

In [115]:
df11.to_csv('GDPPERCAPITA.csv')

## Hospital Beds per 1000 person

In [75]:
df3 = pd.read_csv('hostipal_beds.csv',index_col = 0)
df3

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.2,..,..,..,..,..,..,..,..,..,...,0.5,0.5,0.5,0.5,0.4,..,..,..,..,NaN
Albania,5.1,..,..,..,..,..,..,..,..,..,...,2.9,..,..,..,..,..,..,..,..,NaN
Algeria,3.2,..,..,..,..,..,..,..,..,..,...,..,..,1.9,..,..,..,..,..,..,NaN
American Samoa,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,3.3,NaN
Andorra,..,..,..,..,..,..,..,..,..,..,...,2.9,..,..,..,..,..,..,..,..,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sub-Saharan Africa (excluding high income),1.4,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,NaN
Sub-Saharan Africa (IDA & IBRD countries),1.4,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,NaN
Upper middle income,..,..,..,..,..,..,..,..,..,..,...,3.4,3.5,3.6,3.7,3.9,..,..,..,..,NaN
World,..,..,..,..,..,..,..,..,..,..,...,2.8,2.8,2.7,2.7,2.9,..,..,..,..,NaN
"Created from: Health Nutrition and Population Statistics\nSeries : Hospital beds (per 1,000 people)\n\n\n\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# only keeping countries
df4 = df3.loc[:'Zimbabwe']
df4

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.2,..,..,..,..,..,..,..,..,..,...,0.5,0.5,0.5,0.5,0.4,..,..,..,..,NaN
Albania,5.1,..,..,..,..,..,..,..,..,..,...,2.9,..,..,..,..,..,..,..,..,NaN
Algeria,3.2,..,..,..,..,..,..,..,..,..,...,..,..,1.9,..,..,..,..,..,..,NaN
American Samoa,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,3.3,NaN
Andorra,..,..,..,..,..,..,..,..,..,..,...,2.9,..,..,..,..,..,..,..,..,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,2.8,..,..,NaN
West Bank and Gaza,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,1,..,..,NaN
"Yemen, Rep.",0.5,..,..,..,..,..,..,..,..,..,...,0.7,0.7,0.7,0.7,0.7,..,..,..,..,NaN
Zambia,2.8,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,NaN
Zimbabwe,3.9,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,NaN

In [87]:
#replace '..' with np.nan
import numpy as np
for columns in df4.columns:
    df4[columns].replace('..',np.nan, inplace=True)

C:\Users\solal\AppData\Local\Temp\ipykernel_8176\3215758966.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4[columns].replace('..',np.nan, inplace=True)

In [88]:
df4

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,0.5,0.5,0.5,0.4,NaN,NaN,NaN,NaN,NaN
Albania,5.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.8,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
"Yemen, Rep.",0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.7,0.7,0.7,0.7,0.7,NaN,NaN,NaN,NaN,NaN
Zambia,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
# only keeping countries with years > 1980
df5 = df4.loc[:'Zimbabwe','1980':]
df5

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0.3,NaN,NaN,NaN,NaN,NaN,0.3,NaN,NaN,...,0.5,0.5,0.5,0.5,0.4,NaN,NaN,NaN,NaN,NaN
Albania,4.3,4.2,4.2,4.1,4.1,4.1,4.1,4.0,3.9,4.1,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,2.6,2.6,...,NaN,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3,NaN
Andorra,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.8,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.7,0.7,0.7,0.7,0.7,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,3.0,NaN,NaN,NaN,NaN,1.4,NaN,1.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
#changing type to float
df5 = df5.astype(float)
df5

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0.3,NaN,NaN,NaN,NaN,NaN,0.3,NaN,NaN,...,0.5,0.5,0.5,0.5,0.4,NaN,NaN,NaN,NaN,NaN
Albania,4.3,4.2,4.2,4.1,4.1,4.1,4.1,4.0,3.9,4.1,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,2.6,2.6,...,NaN,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3,NaN
Andorra,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.8,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.7,0.7,0.7,0.7,0.7,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,3.0,NaN,NaN,NaN,NaN,1.4,NaN,1.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df5

<class 'pandas.core.frame.DataFrame'>
Index: 217 entries, Afghanistan to Zimbabwe
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1980    105 non-null    float64
 1   1981    59 non-null     float64
 2   1982    26 non-null     float64
 3   1983    22 non-null     float64
 4   1984    29 non-null     float64
 5   1985    76 non-null     float64
 6   1986    49 non-null     float64
 7   1987    51 non-null     float64
 8   1988    53 non-null     float64
 9   1989    75 non-null     float64
 10  1990    149 non-null    float64
 11  1991    73 non-null     float64
 12  1992    69 non-null     float64
 13  1993    90 non-null     float64
 14  1994    69 non-null     float64
 15  1995    68 non-null     float64
 16  1996    98 non-null     float64
 17  1997    67 non-null     float64
 18  1998    65 non-null     float64
 19  1999    59 non-null     float64
 20  2000    100 non-null    float64
 21  2001    102 non-null    float64
 22  2002    114 non-null    float64
 23  2003    108 non-null    float64
 24  2004    110 non-null    float64
 25  2005    133 non-null    float64
 26  2006    133 non-null    float64
 27  2007    120 non-null    float64
 28  2008    114 non-null    float64
 29  2009    127 non-null    float64
 30  2010    141 non-null    float64
 31  2011    134 non-null    float64
 32  2012    119 non-null    float64
 33  2013    113 non-null    float64
 34  2014    111 non-null    float64
 35  2015    108 non-null    float64
 36  2016    102 non-null    float64
 37  2017    101 non-null    float64
 38  2018    40 non-null     float64
 39  2019    20 non-null     float64
 40  2020    1 non-null      float64
 41  2021    9 non-null      float64
 42  2022    0 non-null      float64
dtypes: float64(43)
memory usage: 74.6+ KB

In [93]:
#filling missing values with interpolation
df6 = df5.interpolate(axis=1, limit_direction='both')
df6

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.3,0.30000,0.300000,0.300000,0.300000,0.30000,0.300000,0.300000,0.266667,0.233333,...,0.500000,0.500000,0.500000,0.500000,0.400000,0.400000,0.400000,0.400000,0.4,0.4
Albania,4.3,4.20000,4.200000,4.100000,4.100000,4.10000,4.100000,4.000000,3.900000,4.100000,...,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.9,2.9
Algeria,2.5,2.50000,2.500000,2.500000,2.500000,2.50000,2.500000,2.550000,2.600000,2.600000,...,1.863636,1.881818,1.900000,1.900000,1.900000,1.900000,1.900000,1.900000,1.9,1.9
American Samoa,1.0,1.00000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.985714,2.150000,2.314286,2.478571,2.642857,2.807143,2.971429,3.135714,3.3,3.3
Andorra,4.5,4.41875,4.337500,4.256250,4.175000,4.09375,4.012500,3.931250,3.850000,3.768750,...,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.900000,2.9,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),4.8,4.80000,4.800000,4.800000,4.800000,4.80000,4.800000,4.800000,4.800000,4.800000,...,6.947826,6.256522,5.565217,4.873913,4.182609,3.491304,2.800000,2.800000,2.8,2.8
West Bank and Gaza,1.2,1.20000,1.200000,1.200000,1.200000,1.20000,1.200000,1.200000,1.200000,1.200000,...,1.052174,1.043478,1.034783,1.026087,1.017391,1.008696,1.000000,1.000000,1.0,1.0
"Yemen, Rep.",0.8,0.80000,0.800000,0.800000,0.800000,0.80000,0.800000,0.800000,0.800000,0.800000,...,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.7,0.7
Zambia,3.5,3.50000,3.434783,3.369565,3.304348,3.23913,3.173913,3.108696,3.043478,2.978261,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,2.0
Zimbabwe,3.0,2.68000,2.360000,2.040000,1.720000,1.40000,1.650000,1.900000,1.433333,0.966667,...,1.700000,1.700000,1.700000,1.700000,1.700000,1.700000,1.700000,1.700000,1.7,1.7

In [94]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 217 entries, Afghanistan to Zimbabwe
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1980    217 non-null    float64
 1   1981    217 non-null    float64
 2   1982    217 non-null    float64
 3   1983    217 non-null    float64
 4   1984    217 non-null    float64
 5   1985    217 non-null    float64
 6   1986    217 non-null    float64
 7   1987    217 non-null    float64
 8   1988    217 non-null    float64
 9   1989    217 non-null    float64
 10  1990    217 non-null    float64
 11  1991    217 non-null    float64
 12  1992    217 non-null    float64
 13  1993    217 non-null    float64
 14  1994    217 non-null    float64
 15  1995    217 non-null    float64
 16  1996    217 non-null    float64
 17  1997    217 non-null    float64
 18  1998    217 non-null    float64
 19  1999    217 non-null    float64
 20  2000    217 non-null    float64
 21  2001    217 non-null    float64
 22  2002    217 non-null    float64
 23  2003    217 non-null    float64
 24  2004    217 non-null    float64
 25  2005    217 non-null    float64
 26  2006    217 non-null    float64
 27  2007    217 non-null    float64
 28  2008    217 non-null    float64
 29  2009    217 non-null    float64
 30  2010    217 non-null    float64
 31  2011    217 non-null    float64
 32  2012    217 non-null    float64
 33  2013    217 non-null    float64
 34  2014    217 non-null    float64
 35  2015    217 non-null    float64
 36  2016    217 non-null    float64
 37  2017    217 non-null    float64
 38  2018    217 non-null    float64
 39  2019    217 non-null    float64
 40  2020    217 non-null    float64
 41  2021    217 non-null    float64
 42  2022    217 non-null    float64
dtypes: float64(43)
memory usage: 74.6+ KB

In [95]:
df6.to_csv('HospitlBed.csv')

## Hepatit_Vaccination_Rate

In [96]:
df7 = pd.read_csv('hepatit.csv',index_col = 0)
df7

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,..,..,..,..,..,..,..,..,..,..,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,NaN
Albania,..,..,..,..,..,..,..,..,..,..,...,99.0,98.0,99.0,98.0,99.0,99.0,99.0,98.0,98.0,NaN
Algeria,..,..,..,..,..,..,..,..,..,..,...,95.0,95.0,95.0,91.0,91.0,91.0,91.0,91.0,91.0,NaN
American Samoa,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,NaN
Andorra,..,..,..,..,..,..,..,..,..,..,...,94.0,95.0,94.0,94.0,98.0,98.0,98.0,98.0,98.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sub-Saharan Africa (excluding high income),..,..,..,..,..,..,..,..,..,..,...,69.0,70.4,70.3,73.3,73.7,73.8,74.3,72.5,70.7,NaN
Sub-Saharan Africa (IDA & IBRD countries),..,..,..,..,..,..,..,..,..,..,...,69.0,70.4,70.3,73.3,73.7,73.8,74.3,72.5,70.7,NaN
Upper middle income,..,..,..,..,..,..,..,..,..,..,...,94.6,94.8,94.4,94.2,93.4,93.3,91.3,91.1,90.3,NaN
World,..,..,..,..,..,..,..,..,..,..,...,79.5,81.7,83.0,84.2,84.2,84.3,85.5,82.9,81.1,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
#only keeping countries
df7 = df7.loc[:'Zimbabwe']
df7

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,..,..,..,..,..,..,..,..,..,..,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,NaN
Albania,..,..,..,..,..,..,..,..,..,..,...,99.0,98.0,99.0,98.0,99.0,99.0,99.0,98.0,98.0,NaN
Algeria,..,..,..,..,..,..,..,..,..,..,...,95.0,95.0,95.0,91.0,91.0,91.0,91.0,91.0,91.0,NaN
American Samoa,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,NaN
Andorra,..,..,..,..,..,..,..,..,..,..,...,94.0,95.0,94.0,94.0,98.0,98.0,98.0,98.0,98.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,NaN
West Bank and Gaza,..,..,..,..,..,..,..,..,..,..,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,98.0,95.0,NaN
"Yemen, Rep.",..,..,..,..,..,..,..,..,..,..,...,73.0,73.0,69.0,71.0,68.0,65.0,73.0,72.0,72.0,NaN
Zambia,..,..,..,..,..,..,..,..,..,..,...,79.0,86.0,90.0,95.0,94.0,90.0,88.0,84.0,91.0,NaN
Zimbabwe,..,..,..,..,..,..,..,..,..,..,...,95.0,91.0,87.0,90.0,89.0,89.0,90.0,86.0,86.0,NaN

In [98]:
#replace '..' with np.nan
import numpy as np
for columns in df7.columns:
    df7[columns].replace('..',np.nan, inplace=True)

C:\Users\solal\AppData\Local\Temp\ipykernel_8176\1745782959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7[columns].replace('..',np.nan, inplace=True)

In [99]:
df7

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,98.0,99.0,98.0,99.0,99.0,99.0,98.0,98.0,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,95.0,95.0,91.0,91.0,91.0,91.0,91.0,91.0,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.0,95.0,94.0,94.0,98.0,98.0,98.0,98.0,98.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,98.0,95.0,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.0,73.0,69.0,71.0,68.0,65.0,73.0,72.0,72.0,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,86.0,90.0,95.0,94.0,90.0,88.0,84.0,91.0,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,91.0,87.0,90.0,89.0,89.0,90.0,86.0,86.0,NaN

In [100]:
#only keeping countries and years > 1980
df8 = df7.loc[:'Zimbabwe','1980':]
df8

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,98.0,99.0,98.0,99.0,99.0,99.0,98.0,98.0,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,95.0,95.0,91.0,91.0,91.0,91.0,91.0,91.0,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.0,95.0,94.0,94.0,98.0,98.0,98.0,98.0,98.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,98.0,95.0,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.0,73.0,69.0,71.0,68.0,65.0,73.0,72.0,72.0,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,86.0,90.0,95.0,94.0,90.0,88.0,84.0,91.0,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,91.0,87.0,90.0,89.0,89.0,90.0,86.0,86.0,NaN

In [101]:
#changing type to float
df8 = df8.astype(float)
df8

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,98.0,99.0,98.0,99.0,99.0,99.0,98.0,98.0,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,95.0,95.0,91.0,91.0,91.0,91.0,91.0,91.0,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.0,95.0,94.0,94.0,98.0,98.0,98.0,98.0,98.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,98.0,95.0,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.0,73.0,69.0,71.0,68.0,65.0,73.0,72.0,72.0,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,86.0,90.0,95.0,94.0,90.0,88.0,84.0,91.0,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,91.0,87.0,90.0,89.0,89.0,90.0,86.0,86.0,NaN

In [102]:
#filling missing values with interpolation
df9 = df8.interpolate(axis=1, limit_direction='both')
df9

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,63.0,63.0,63.0,63.0,63.0,63.0,63.0,63.0,63.0,63.0,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,66.0
Albania,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,...,99.0,98.0,99.0,98.0,99.0,99.0,99.0,98.0,98.0,98.0
Algeria,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,...,95.0,95.0,95.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,...,94.0,95.0,94.0,94.0,98.0,98.0,98.0,98.0,98.0,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,98.0,95.0,95.0
"Yemen, Rep.",9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,73.0,73.0,69.0,71.0,68.0,65.0,73.0,72.0,72.0,72.0
Zambia,82.0,82.0,82.0,82.0,82.0,82.0,82.0,82.0,82.0,82.0,...,79.0,86.0,90.0,95.0,94.0,90.0,88.0,84.0,91.0,91.0
Zimbabwe,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,95.0,91.0,87.0,90.0,89.0,89.0,90.0,86.0,86.0,86.0

In [104]:
# some rows dont have any data, thus they dont fill with interpolation
# filling np.nans with average of columns
for col in df9:
    df9[col].replace(np.nan, df9[col].mean(), inplace=True)

In [105]:
df9

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
,,,,,,,,,,,,,,,,,,,,,
Afghanistan,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,...,64.000000,62.000000,64.000000,66.000000,66.000000,72.000000,72.000000,70.000000,66.000000,66.000000
Albania,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,98.000000,99.000000,98.000000,99.000000,99.000000,99.000000,98.000000,98.000000,98.000000
Algeria,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,...,95.000000,95.000000,95.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000
American Samoa,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,...,87.328042,87.195767,87.116402,87.375661,87.169312,87.380952,87.677249,85.148148,83.857143,83.857143
Andorra,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,...,94.000000,95.000000,94.000000,94.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,55.984127,...,87.328042,87.195767,87.116402,87.375661,87.169312,87.380952,87.677249,85.148148,83.857143,83.857143
West Bank and Gaza,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,98.000000,95.000000,95.000000
"Yemen, Rep.",9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,73.000000,73.000000,69.000000,71.000000,68.000000,65.000000,73.000000,72.000000,72.000000,72.000000
Zambia,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,...,79.000000,86.000000,90.000000,95.000000,94.000000,90.000000,88.000000,84.000000,91.000000,91.000000
Zimbabwe,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,95.000000,91.000000,87.000000,90.000000,89.000000,89.000000,90.000000,86.000000,86.000000,86.000000

In [106]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Index: 217 entries, Afghanistan to Zimbabwe
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1980    217 non-null    float64
 1   1981    217 non-null    float64
 2   1982    217 non-null    float64
 3   1983    217 non-null    float64
 4   1984    217 non-null    float64
 5   1985    217 non-null    float64
 6   1986    217 non-null    float64
 7   1987    217 non-null    float64
 8   1988    217 non-null    float64
 9   1989    217 non-null    float64
 10  1990    217 non-null    float64
 11  1991    217 non-null    float64
 12  1992    217 non-null    float64
 13  1993    217 non-null    float64
 14  1994    217 non-null    float64
 15  1995    217 non-null    float64
 16  1996    217 non-null    float64
 17  1997    217 non-null    float64
 18  1998    217 non-null    float64
 19  1999    217 non-null    float64
 20  2000    217 non-null    float64
 21  2001    217 non-null    float64
 22  2002    217 non-null    float64
 23  2003    217 non-null    float64
 24  2004    217 non-null    float64
 25  2005    217 non-null    float64
 26  2006    217 non-null    float64
 27  2007    217 non-null    float64
 28  2008    217 non-null    float64
 29  2009    217 non-null    float64
 30  2010    217 non-null    float64
 31  2011    217 non-null    float64
 32  2012    217 non-null    float64
 33  2013    217 non-null    float64
 34  2014    217 non-null    float64
 35  2015    217 non-null    float64
 36  2016    217 non-null    float64
 37  2017    217 non-null    float64
 38  2018    217 non-null    float64
 39  2019    217 non-null    float64
 40  2020    217 non-null    float64
 41  2021    217 non-null    float64
 42  2022    217 non-null    float64
dtypes: float64(43)
memory usage: 74.6+ KB

In [107]:
df9.to_csv('Hepatit_vaccination.csv')